/*
Theme Name: devbase-child
Description: Base Theme
Version: 0.7
Author: Julian Apong
Author URI: http://japong.net
Tags: Blank, HTML5, CSS3
Template: devbase
License: MIT
License URI: http://opensource.org/licenses/mit-license.php
Based on the excellent HTML5 Blank Theme by Todd Motto
*/
/*------------------------------------*\
SASS
\*------------------------------------*/
@font-face {
  font-family: 'toronto_subwaybold';
  src: url("../fonts/torontosubwaybold-webfont.woff2") format("woff2"), url("../fonts/torontosubwaybold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'toronto_subwayregular';
  src: url("../fonts/torontosubwayregular-webfont.woff2") format("woff2"), url("../fonts/torontosubwayregular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'aleobold';
  src: url("fonts/Aleo-Bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'aleolight';
  src: url("fonts/Aleo-Light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'alelightitalic';
  src: url("fonts/Aleo-Lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

label .label_text {
  opacity: 0; }

* {
  font-family: 'toronto_subwaybold';
  font-size: 20px;
  text-align: center; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'toronto_subwaybold'; }

strong {
  font-family: 'toronto_subwaybold';
  border: 1px; }

em {
  font-family: 'aleolightitalic'; }

#content_pane {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.padding_general {
  padding: 25px; }

pre {
  max-width: 100%;
  white-space: normal; }

.home_logo img {
  width: 100%;
  height: auto; }

.aspectratio {
  position: relative;
  height: 0;
  width: 100%;
  padding-top: calc(100% / (var(--aspect-ratio)));
  transition: all 1s; }

.aspectratio > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* center my children */
  display: flex;
  align-items: center;
  justify-content: center; }

.svg_rectangles {
  clip-path: url(#svg_rectangles); }

.bg_stack {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  align-content: stretch;
  transition: all 1s;
  transform-style: preserve-3d;
  align-self: center; }

.bg_stack .page_stack_element {
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  height: 100%;
  width: 100%;
  transition: all 1s;
  display: grid;
  overflow: hidden; }

.bg_stack .page_stack_element img {
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  height: 100%;
  width: 100%;
  transition: all 1s; }

.bg_stack .page_stack_element img.cover {
  object-fit: cover; }

.bg_stack .page_stack_element img.contain {
  object-fit: contain; }

.bg_stack .page_stack_element.inner_pattern picture {
  margin-top: -10%; }

.bg_stack .page_stack_element.inner_pattern img {
  object-fit: cover;
  filter: saturate(0.25) brightnes();
  transform: rotate(-10deg);
  transform-origin: 50%; }

.single_explode .bg_stack .page_stack_element.inner_pattern picture {
  height: 100%;
  margin-top: 0%; }

.single_explode .bg_stack .page_stack_element.inner_pattern img {
  filter: saturate(1.5); }

.single_explode .bg_stack .page_stack_element.inner_pattern img {
  height: 100%; }

.page_stack_content {
  height: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center; }

.page_stack_grid_item {
  display: grid;
  position: relative;
  transition: all 1s, flex-grow 1.5s;
  transform-style: preserve-3d;
  transform: translateZ(calc(1px * var(--zstack))); }

.page_stack_grid_item picture {
  transform-style: preserve-3d; }

.tool_tip .nav_down {
  display: none; }

.nav_down {
  position: absolute;
  bottom: 10vh; }

.scroll_next {
  font-size: 5vh; }

.box_link {
  display: flex;
  height: 100%;
  width: 100%;
  border: 3px solid transparent;
  transition: all 0.25s;
  justify-content: center;
  align-items: center;
  font-family: 'toronto_subwayregular';
  font-size: 1.5vh; }

.box_link:hover {
  border: 3px solid white; }

#bg_pane {
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  align-items: center;
  align-self: center;
  justify-content: flex-end;
  transition: all 1s;
  transform-style: preserve-3d;
  max-height: 90vh;
  max-width: calc(90vh / ((var(--stack_height)) / (var(--stack_width))));
  margin: 5vh 0;
  transform: translateZ(-1000px);
  box-sizing: initial;
  z-index: 1; }

#bg_pane.padding_right {
  padding-right: 20vw; }

#bg_pane.single_explode {
  max-height: 90vh;
  max-width: calc(90vh);
  transition-delay: 0.5s; }

#bg_pane.single_explode .aspectratio {
  padding-top: calc(90vh / ( 16 / 9 )); }

.page_stack_content {
  text-transform: uppercase;
  font-size: 1.75vh; }

.single_explode.about .page_stack_element.about {
  width: 100%;
  height: 70vh; }

.single_explode.about .grid_item_active {
  height: 100vh !important; }

.single_explode.about .page_stack_element:not(.about) {
  opacity: 0; }

.single_explode.about .page_stack_element.inner_pattern {
  clip-path: unset;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0px); }

.single_explode.about .page_stack_element.inner_pattern img {
  transform: rotate(0deg);
  object-fit: contain;
  filter: saturate(1.5);
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%; }

#content_pane .single_explode.about .page_stack_element.inner_pattern_behind.about {
  animation: trans_pulse;
  animation-duration: 10s;
  animation-iteration-count: infinite; }

.single_explode.introduction .page_stack_element.introduction {
  width: 100%;
  height: 70vh; }

.single_explode.introduction .grid_item_active {
  height: 100vh !important; }

.single_explode.introduction .page_stack_element:not(.introduction) {
  opacity: 0; }

.single_explode.introduction .page_stack_element.inner_pattern {
  clip-path: unset;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0px); }

.single_explode.introduction .page_stack_element.inner_pattern img {
  transform: rotate(0deg);
  object-fit: contain;
  filter: saturate(1.5);
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%; }

#content_pane .single_explode.introduction .page_stack_element.inner_pattern_behind.introduction {
  animation: trans_pulse;
  animation-duration: 10s;
  animation-iteration-count: infinite; }

.single_explode.design .page_stack_element.design {
  width: 100%;
  height: 70vh; }

.single_explode.design .grid_item_active {
  height: 100vh !important; }

.single_explode.design .page_stack_element:not(.design) {
  opacity: 0; }

.single_explode.design .page_stack_element.inner_pattern {
  clip-path: unset;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0px); }

.single_explode.design .page_stack_element.inner_pattern img {
  transform: rotate(0deg);
  object-fit: contain;
  filter: saturate(1.5);
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%; }

#content_pane .single_explode.design .page_stack_element.inner_pattern_behind.design {
  animation: trans_pulse;
  animation-duration: 10s;
  animation-iteration-count: infinite; }

.single_explode.prototype .page_stack_element.prototype {
  width: 100%;
  height: 70vh; }

.single_explode.prototype .grid_item_active {
  height: 100vh !important; }

.single_explode.prototype .page_stack_element:not(.prototype) {
  opacity: 0; }

.single_explode.prototype .page_stack_element.inner_pattern {
  clip-path: unset;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0px); }

.single_explode.prototype .page_stack_element.inner_pattern img {
  transform: rotate(0deg);
  object-fit: contain;
  filter: saturate(1.5);
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%; }

#content_pane .single_explode.prototype .page_stack_element.inner_pattern_behind.prototype {
  animation: trans_pulse;
  animation-duration: 10s;
  animation-iteration-count: infinite; }

.single_explode.stack .page_stack_element.stack {
  width: 100%;
  height: 70vh; }

.single_explode.stack .grid_item_active {
  height: 100vh !important; }

.single_explode.stack .page_stack_element:not(.stack) {
  opacity: 0; }

.single_explode.stack .page_stack_element.inner_pattern {
  clip-path: unset;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0px); }

.single_explode.stack .page_stack_element.inner_pattern img {
  transform: rotate(0deg);
  object-fit: contain;
  filter: saturate(1.5);
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%; }

#content_pane .single_explode.stack .page_stack_element.inner_pattern_behind.stack {
  animation: trans_pulse;
  animation-duration: 10s;
  animation-iteration-count: infinite; }

.single_explode.editor .page_stack_element.editor {
  width: 100%;
  height: 70vh; }

.single_explode.editor .grid_item_active {
  height: 100vh !important; }

.single_explode.editor .page_stack_element:not(.editor) {
  opacity: 0; }

.single_explode.editor .page_stack_element.inner_pattern {
  clip-path: unset;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0px); }

.single_explode.editor .page_stack_element.inner_pattern img {
  transform: rotate(0deg);
  object-fit: contain;
  filter: saturate(1.5);
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%; }

#content_pane .single_explode.editor .page_stack_element.inner_pattern_behind.editor {
  animation: trans_pulse;
  animation-duration: 10s;
  animation-iteration-count: infinite; }

.single_explode.content .page_stack_element.content {
  width: 100%;
  height: 70vh; }

.single_explode.content .grid_item_active {
  height: 100vh !important; }

.single_explode.content .page_stack_element:not(.content) {
  opacity: 0; }

.single_explode.content .page_stack_element.inner_pattern {
  clip-path: unset;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0px); }

.single_explode.content .page_stack_element.inner_pattern img {
  transform: rotate(0deg);
  object-fit: contain;
  filter: saturate(1.5);
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%; }

#content_pane .single_explode.content .page_stack_element.inner_pattern_behind.content {
  animation: trans_pulse;
  animation-duration: 10s;
  animation-iteration-count: infinite; }

.single_explode.performance .page_stack_element.performance {
  width: 100%;
  height: 70vh; }

.single_explode.performance .grid_item_active {
  height: 100vh !important; }

.single_explode.performance .page_stack_element:not(.performance) {
  opacity: 0; }

.single_explode.performance .page_stack_element.inner_pattern {
  clip-path: unset;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0px); }

.single_explode.performance .page_stack_element.inner_pattern img {
  transform: rotate(0deg);
  object-fit: contain;
  filter: saturate(1.5);
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%; }

#content_pane .single_explode.performance .page_stack_element.inner_pattern_behind.performance {
  animation: trans_pulse;
  animation-duration: 10s;
  animation-iteration-count: infinite; }

.single_explode.optimization .page_stack_element.optimization {
  width: 100%;
  height: 70vh; }

.single_explode.optimization .grid_item_active {
  height: 100vh !important; }

.single_explode.optimization .page_stack_element:not(.optimization) {
  opacity: 0; }

.single_explode.optimization .page_stack_element.inner_pattern {
  clip-path: unset;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0px); }

.single_explode.optimization .page_stack_element.inner_pattern img {
  transform: rotate(0deg);
  object-fit: contain;
  filter: saturate(1.5);
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%; }

#content_pane .single_explode.optimization .page_stack_element.inner_pattern_behind.optimization {
  animation: trans_pulse;
  animation-duration: 10s;
  animation-iteration-count: infinite; }

.single_explode.compliance .page_stack_element.compliance {
  width: 100%;
  height: 70vh; }

.single_explode.compliance .grid_item_active {
  height: 100vh !important; }

.single_explode.compliance .page_stack_element:not(.compliance) {
  opacity: 0; }

.single_explode.compliance .page_stack_element.inner_pattern {
  clip-path: unset;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0px); }

.single_explode.compliance .page_stack_element.inner_pattern img {
  transform: rotate(0deg);
  object-fit: contain;
  filter: saturate(1.5);
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%; }

#content_pane .single_explode.compliance .page_stack_element.inner_pattern_behind.compliance {
  animation: trans_pulse;
  animation-duration: 10s;
  animation-iteration-count: infinite; }

.single_explode.clients .page_stack_element.clients {
  width: 100%;
  height: 70vh; }

.single_explode.clients .grid_item_active {
  height: 100vh !important; }

.single_explode.clients .page_stack_element:not(.clients) {
  opacity: 0; }

.single_explode.clients .page_stack_element.inner_pattern {
  clip-path: unset;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0px); }

.single_explode.clients .page_stack_element.inner_pattern img {
  transform: rotate(0deg);
  object-fit: contain;
  filter: saturate(1.5);
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%; }

#content_pane .single_explode.clients .page_stack_element.inner_pattern_behind.clients {
  animation: trans_pulse;
  animation-duration: 10s;
  animation-iteration-count: infinite; }

@keyframes trans_pulse {
  0% {
    opacity: 0.2; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 0.2; } }

a.box_link[href="#about"] {
  color: rgba(0, 0, 0, 0); }

a.box_link[href="#cascading"] {
  color: rgba(0, 0, 0, 0); }

#content_pane .page_stack_element.inner_pattern.inner_pattern_behind {
  opacity: 0; }

#content_pane .single_explode.prototype .page_stack_element.prototype {
  width: 50vw; }

#content_pane .single_explode.performance .page_stack_element.performance {
  width: 50vw;
  margin-left: 25vw; }

.about_image {
  opacity: 0; }

.single_explode.about img.about_image {
  object-fit: cover;
  object-position: 17% 0%;
  transition: all 0.25s;
  opacity: 1; }

.page_stack_element.about > div {
  position: absolute;
  height: 100%;
  width: 100%; }

.single_explode.about .about img {
  object-fit: cover;
  object-position: 17% 0%; }

.single_explode.prototype .inner_pattern.prototype {
  margin-left: -25vw; }

.single_explode.stack .inner_pattern.stack {
  margin-left: -25vw; }

[data-section-name="thanks"].waypoint_active .scroll_next {
  display: none; }

.single_explode.design .inner_pattern.design {
  margin-left: 25vw; }

.waypoint {
  margin-bottom: 100vh; }

.content_grid {
  display: grid;
  height: 100vh;
  max-width: 1920px;
  width: 100%; }

.content_row .scrollify_pane_placeholder {
  height: 100vh !important;
  border: 0px solid green !important;
  position: absolute;
  top: 100%; }

.menu_bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  min-height: 50px;
  color: #b13947;
  display: flex;
  justify-content: flex-end; }

.menu_bar button {
  background-color: transparent;
  border: 0px; }

.menu_bar a {
  color: #b13947;
  transition: all 0.25s; }

.menu_bar a:hover {
  color: #ce6874; }

.navbar {
  width: 100%;
  margin-bottom: 0; }

#menu_pane {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  z-index: 15; }

#menu_pane ul {
  width: 100%;
  display: flex;
  justify-content: space-between; }

.menu_bar li {
  display: inline;
  padding: 0;
  list-style-type: none;
  text-transform: uppercase; }

.menu_bar li a {
  color: #b13947; }

.tool_tip {
  width: 75%;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  transform: translateZ(50px);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
  transition: all 0.25s; }

.tool_tip .page_stack_content img {
  display: inline-block;
  position: relative; }

.tool_tip .page_stack_content {
  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: all 0.25s;
  transform: translateZ(50px); }

.page_stack_grid_item .tool_tip:hover .page_stack_content {
  height: auto;
  max-height: 75vh;
  backdrop-filter: blur(3px); }

.tilt .page_stack_grid_item .tool_tip:hover .page_stack_content {
  /* transform: rotateX(-30deg) rotateY(-30deg)rotateZ(0deg); 
	inv {{10, -9, -12}, {7, -12, 11}, {-10, 10, 3}}
	inv {{0.866025, 0.25, 0.433013, 0}, { 0, 0.866025, -0.5, 0}, {-0.5, 0.433013, 0.75}, {0, 0, 0, 0, 1}} */
  transform: matrix3d(0.866025, 0.25, 0.433013, 0, 0, 0.866025, -0.5, 0, -0.5, 0.433013, 0.75, 0, 0, 0, 0, 1); }

.tilt_right .page_stack_grid_item .tool_tip:hover .page_stack_content {
  transform: matrix3d(0.707107, -0.183013, -0.683013, 0, 0, 0.965926, -0.258819, 0, 0.707107, 0.183013, 0.683013, 0, 0, 0, 0, 1); }

.page_stack_grid_item {
  --zstack: calc(50px * (10 * var(--stack_timing_factor)) * (10 * var(--element_timing_factor)) ); }

.page_stack_grid_item .page_stack_element {
  opacity: 0;
  transition: all calc(10s * var(--stack_timing_factor) * var(--element_timing_factor));
  --zstack: calc(5px * (10 * var(--stack_timing_factor)) * (10 * var(--element_timing_factor)) );
  transform: translateZ(calc(1px * var(--stack_timing_factor)));
  width: 100%;
  height: 100%;
  z-index: calc(1 * var(--stack_timing_factor));
  background: rgba(0, 0, 0, 0.05);
  transform-style: preserve-3d; }

.tool_tip.tool_tip_home {
  opacity: 0;
  transition: all; }

.tilt_home .page_stack_grid_item .page_stack_element.home_tip_animate {
  opacity: 0; }

.tilt_home .tool_tip.tool_tip_home {
  opacity: 0;
  transition: all; }

.tilt_home.tilt .page_stack_grid_item .page_stack_element.home_tip_animate {
  animation: home_tip_fade 20s;
  opacity: 0;
  animation-iteration-count: infinite; }

.waypoint_active .tool_tip.home_tip_animate {
  animation: home_tip_fade 20s;
  animation-iteration-count: infinite; }

.content_box.tool_tip.tool_tip_home.home_tip_animate.home_tip_one {
  animation-delay: 3s; }

.tilt_home.tilt .page_stack_grid_item .page_stack_element.home_tip_animate.home_tip_one {
  animation-delay: 5s; }

.content_box.tool_tip.tool_tip_home.home_tip_animate.home_tip_two {
  animation-delay: 7s; }

.tilt_home.tilt .page_stack_grid_item .page_stack_element.home_tip_animate.home_tip_two {
  animation-delay: 9s; }

.content_box.tool_tip.tool_tip_home.home_tip_animate.home_tip_three {
  animation-delay: 11s; }

.tilt_home.tilt .page_stack_grid_item .page_stack_element.home_tip_animate.home_tip_three {
  animation-delay: 13s; }

.content_box.tool_tip.tool_tip_home.home_tip_animate.home_tip_four {
  animation-delay: 15s; }

.tilt_home.tilt .page_stack_grid_item .page_stack_element.home_tip_animate.home_tip_four {
  animation-delay: 17s; }

.content_box .wpcf7 {
  max-width: 80%;
  margin: 0 auto; }

.wpcf7 textarea {
  height: 100px; }

.content_box .wpcf7
input.wpcf7-form-control.wpcf7-submit {
  font-family: 'toronto_subwayregular';
  color: white;
  background-color: #b13947;
  border: none; }

input, textarea {
  max-width: 100%;
  color: black; }

@keyframes home_tip_fade {
  0% {
    opacity: 0; }
  5% {
    opacity: 1; }
  50% {
    opacity: 1; }
  55% {
    opacity: 0; }
  100% {
    opacity: 0; } }

.tilt.tilt_home .bg_stack {
  transition-delay: 1s; }

.tilt.tilt_home .page_stack_grid_item .page_stack_element {
  transform: translateZ(calc(1 * var(--zstack )));
  transition-delay: calc(0s * var(--stack_timing_factor) * var(--element_timing_factor)); }

.tilt .page_stack_grid_item .page_stack_element {
  transform: translateZ(var(--zstack));
  transition-delay: calc(10s * var(--stack_timing_factor) * var(--element_timing_factor)); }

.tilt_right .page_stack_grid_item .page_stack_element {
  transform: translateZ(var(--zstack));
  transition-delay: calc(10s * var(--stack_timing_factor) * var(--element_timing_factor)); }

.angled_waves#bg_pane {
  /* transform: rotateX(30deg) rotateY(30deg)rotateZ(0deg); */
  transform: matrix3d(uuu); }

.angled_waves .page_stack_grid_item .page_stack_element {
  opacity: 1; }

.initial_fade .page_stack_grid_item .page_stack_element {
  opacity: 1;
  transition-duration: calc(0.5s); }

.initial_fade .page_stack_grid_item.start_shrunk {
  flex-grow: 0.001 !important; }

.visible .page_stack_grid_item .page_stack_element {
  opacity: 1; }

.tilt .bg_stack {
  transform: matrix3d(0.707107, 0.183013, 0.683013, 0, 0, 0.965926, -0.258819, 0, -0.707107, 0.183013, 0.683013, 0, 0, 0, 0, 1);
  transition-duration: 0.5s; }

.tilt_right .bg_stack {
  transform: matrix3d(0.707107, -0.183013, -0.683013, 0, 0, 0.965926, -0.258819, 0, 0.707107, 0.183013, 0.683013, 0, 0, 0, 0, 1);
  transition-duration: 0.5s; }

.tilt .tool_tip {
  transition-duration: 0.5s;
  transform: matrix3d(0.707107, 0.183013, 0.683013, 0, 0, 0.965926, -0.258819, 0, -0.707107, 0.183013, 0.683013, 0, 0, 0, 0, 1); }

.transparent_50 {
  backdrop-filter: blur(0px);
  transition-delay: 1s; }

.waypoint_active .transparent_50 {
  backdrop-filter: blur(1px); }

.waypoint_active .transparent_75 {
  backdrop-filter: blur(1px); }

.tool_tip h1 {
  transition: all 0.5s;
  transform-origin: center;
  display: inline-block;
  clear: both;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  opacity: 0; }

.waypoint_active .tool_tip h1 {
  opacity: 1; }

.tool_tip {
  transition: all 1s, opacity 0.5s ease 1s;
  display: block;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
  z-index: 2;
  padding: 5px;
  align-self: center;
  opacity: 0; }

.waypoint_active .tool_tip {
  opacity: 1; }

.multibox_content {
  font-family: 'toronto_subwayregular'; }

.tool_tip .multibox_content {
  max-height: 1px;
  overflow: hidden;
  display: block;
  transition: all;
  transition-duration: 0.5s; }

.tool_tip:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  transform: initial; }

.tool_tip.tool_tip_home .multibox_content {
  max-height: 1000px;
  transform: initial;
  z-index: 3; }

.tool_tip:hover .multibox_content {
  max-height: 1000px;
  transform: initial;
  z-index: 3; }

.tool_tip:hover h1 {
  transform: rotateZ(360deg);
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5); }

.single_explode .grid_item_active {
  height: 100vh !important; }

.single_explode .page_stack_grid_item:not(.grid_item_active) {
  height: 0.001% !important;
  opacity: 0; }

.single_explode .page_stack_element {
  box-shadow: inset 0px 0px 0px 0px #b13947;
  transition: all 1s; }

.single_explode .grid_item_active .page_stack_element {
  --zstack: calc(15px * (50 * var(--stack_timing_factor) ) * var(--element_timing_factor));
  border: 2px solid rgba(177, 57, 71, 0.5);
  opacity: 0.85;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 0px 3px 0px rgba(243, 176, 129, 0.75);
  transition-delay: .5s; }

.single_explode .grid_item_active .page_stack_element.explode_focus {
  opacity: 1;
  filter: blur(0px); }

.multibox-wrapper {
  border: 1px solid red; }

.navbar-brand {
  padding: 0;
  height: auto; }

.breathe .page_stack_grid_item .page_stack_element picture {
  animation: breathe;
  animation-delay: calc(1s * (var(--stack_timing_factor) + var(--element_timing_factor)));
  animation-duration: calc(30s * (var(--stack_timing_factor) + var(--element_timing_factor)));
  animation-iteration-count: infinite; }

@keyframes breathe {
  0% {
    transform: translateZ(0px); }
  50% {
    transform: translateZ(10px); }
  100% {
    transform: translateZ(0px); } }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.page_stack_grid_item .page_stack_element {
  animation-delay: calc(60s * (var(--stack_timing_factor) + var(--element_timing_factor))); }

input {
  max-width: 100%; }

textarea {
  max-width: 100%; }

@media screen and (min-width: 768px) {
  #bg_pane.padding_left {
    padding-left: 20vw; }
  .waypoint {
    margin-bottom: 0vh; }
  .content_row .width_50 {
    width: 50%;
    margin-right: 50%; }
  .content_row .width_50.orient_right {
    width: 50%;
    margin-left: 50%;
    margin-right: 0%;
    align-self: flex-end; }
  .content_row .width_25.orient_right {
    width: 25%;
    right: 5vw;
    align-self: flex-end; }
  .content_row .width_25.orient_left {
    width: 25%;
    left: 5vw; }
  .content_row .scrollify_pane_placeholder {
    height: 0vh !important;
    position: absolute;
    top: 0%; }
  .bg_stack {
    background-color: rgba(0, 0, 0, 0);
    margin: 0 auto; }
  .mobile {
    display: none; }
  #menu_pane ul {
    max-width: 75vw; }
  .nav_social {
    display: inline-block; }
  .nav_social a {
    padding: 0 1vw; }
  .nav_toggle {
    display: inline-block;
    float: left; }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: center; }
  .navbar .nav-item {
    padding: 0vw 1vw; } }

@media screen and (max-width: 767px) {
  .single_explode .grid_item_active .page_stack_element {
    --zstack: calc(7px * (50 * var(--stack_timing_factor) ) * var(--element_timing_factor)); }
  .single_explode.design .inner_pattern.design {
    margin-left: 20vw; }
  .content_row .content_grid {
    display: flex;
    flex-direction: column; }
  .content_row .content_grid .content_box {
    flex-grow: 1;
    text-align: center; }
  .content_row .content_grid .content_box.tool_tip:hover {
    flex-grow: 10; }
  .content_row .desktop.content_grid {
    display: none; }
  #menu_pane ul {
    display: block;
    padding-left: 0; }
  #menu_pane .nav_toggle {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .navbar .nav-item {
    display: block; }
  h1 {
    font-size: 15vw; }
  .menu_bar {
    justify-content: center; }
  .nav_social a {
    padding: 0 1vw; }
  .multibox_content {
    font-size: 15px; }
  .multibox_placeholder_content {
    width: 100%;
    height: 100%;
    padding: 5vh;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 10;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(1px); }
  .multibox_placeholder_content .multibox_content {
    background-color: #084e7d;
    padding: 3vw; }
  .multibox_placeholder_content > h1 {
    display: none; }
  .multibox_placeholder_content input {
    font-family: toronto_subwaybold; }
  .multibox_placeholder_content label {
    color: white; } }

@media screen and (min-width: 1600px) {
  #content_pane .single_explode.performance .page_stack_element.performance {
    margin-left: 0; } }

/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */