
/*------------------------------------*\
SASS
\*------------------------------------*/

$padding_general: 25px;
$transition_time: 0.25s;
$white: rgba(240, 240, 240, 1);
$black: rgba(15, 15, 15, 1);
$light_grey: rgba(110, 131, 152, 1);
$grey: rgba(74, 88, 102, 1);
$dark_grey: rgba(36, 43, 50, 1);
$light_blue: rgba(104, 206, 235, 1);
$blue: rgba(82, 193, 180, 1);
$dark_blue: #084e7d;
$light_green: #4ec6b8;
$green: #288041;
$dark_green: #144020;
$light_yellow: #FCD718;
$yellow: #de9d04;
$dark_yellow: #F48508;
$light_orange:  #ff9751;
$orange: #ff860e;
$dark_orange: #a55810;
$light_pink: #F3b081;
$pink: #b13947;
$dark_pink: #E2352A;
$light_red: #ec6a54;
$red: #c93712;
$dark_red: #9a171c;
$light_purple: #b433bd;
$purple: #331069;
$dark_purple: #3c113f;
$light_indigo: #6042c1;
$indigo: #402c83;
$dark_indigo: #201645;
$highlight: $yellow;
$primary: $dark_grey;
$secondary: $light_blue;
$highlight: $yellow;
$primary: $white;
$secondary: $light_blue;
$colors: ("dark_blue", $dark_blue, $white, $yellow, $white), ("indigo", $indigo, $white, $yellow, $white), ("red", $red, $white, $indigo, $white), ("yellow", $yellow, $indigo, $red, $black), ("orange", $orange, $white, $red, $black), ("green", $green, $white, $red, $black), ("purple", $purple, $white, $blue, $black), ("blue", $blue, $white, $pink, $black), ("black", $black, $white, $pink, $red), ("white_indigo", $white, $indigo, $yellow, $black), ("white_red", $white, $red, $yellow, $black), ("grey_yellow", $dark_grey, $yellow, $indigo, $white), ("dark_grey", $dark_grey, $yellow, $red, $white), ("pink", $pink, $white, $green, $white), (highlight, $highlight, $black, $dark_grey, $black), (primary, $primary, $white, $yellow, $black), (tertiary, $white, $yellow, $light_blue, $black), (secondary, $secondary, $white, $yellow, $black), ("white", $white, $black, $blue, $dark_pink);
