/*
Theme Name: HTML5 Blank
Theme URI: http://html5blank.com
Description: HTML5 Blank WordPress Theme
Version: 1.4.3
Author: Todd Motto ($toddmotto)
Author URI: http://toddmotto.com
Tags: Blank, HTML5, CSS3

License: MIT
License URI: http://opensource.org/licenses/mit-license.php
*/
/*------------------------------------*\
SASS
\*------------------------------------*/
/*------------------------------------*\
MAIN
\*------------------------------------*/
* {
  transition: all 0.25s; }

.background_dark_blue {
  background-color: #084e7d;
  color: #f0f0f0; }

.background_dark_blue.transparent_85 {
  background-color: rgba(8, 78, 125, 0.85);
  transition: all 1s;
  transition-delay: 1s; }

.background_dark_blue.transparent_50 {
  background-color: rgba(8, 78, 125, 0);
  transition: all 1s;
  transition-delay: 1s; }

.waypoint_active .background_dark_blue.transparent_75 {
  background-color: rgba(8, 78, 125, 0.75);
  color: #f0f0f0; }

.waypoint_active .background_dark_blue.transparent_85 {
  background-color: rgba(8, 78, 125, 0.85);
  color: #f0f0f0; }

.waypoint_active .background_dark_blue.transparent_50 {
  background-color: rgba(8, 78, 125, 0.5);
  color: #f0f0f0; }

.background_dark_blue h1, .background_dark_blue h2 {
  color: #de9d04; }

.background_dark_blue a {
  color: #de9d04; }
  .background_dark_blue a:focus, .background_dark_blue a:hover {
    color: #fbc033; }

.background_dark_blue .cta_button {
  background-color: #de9d04;
  padding: 8px;
  margin-bottom: 25px;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'Georgia';
  transition: color 0.25s, background-color 0.25s; }
  .background_dark_blue .cta_button:focus, .background_dark_blue .cta_button:hover {
    background-color: #084e7d; }
  .background_dark_blue .cta_button:focus,
  .background_dark_blue .cta_button:hover a {
    color: #de9d04; }

.cta_button a {
  color: #084e7d; }

@keyframes dark_bluepulse {
  0% {
    color: #0d7bc5; }
  50% {
    color: #032135; }
  100% {
    color: #0d7bc5; } }

.background_dark_blue .multibox_content {
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0);
  transition-delay: 2s;
  max-width: 100%; }

.waypoint_active .background_dark_blue .multibox_content {
  text-shadow: 0px 0px 2px rgba(8, 78, 125, 0.5); }

.background_dark_blue.tool_tip.tool_tip_home {
  background-color: rgba(8, 78, 125, 0.85);
  color: #f0f0f0; }

.background_dark_blue.tool_tip h1 {
  color: #084e7d;
  animation: dark_bluepulse 5s infinite; }

.background_dark_blue.tool_tip.tool_tip_home h1 {
  color: #084e7d;
  animation: initial; }

.background_dark_blue.tool_tip:hover h1 {
  color: #f0f0f0;
  animation: initial; }

.background_dark_blue.tool_tip:hover {
  background-color: #084e7d;
  color: #f0f0f0; }

.overlay_dark_blue .section_overlay {
  background-color: #084e7d; }

.menu img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 3px solid #f0f0f0; }

.foreground_dark_blue {
  color: #084e7d; }

.underline_reveal_active {
  border-bottom: 3px solid #f0f0f0; }

.foreground_dark_blue a {
  color: #0d7bc5;
  transition: all 0.25s; }
  .foreground_dark_blue a:focus, .foreground_dark_blue a:hover {
    color: #fbc033; }

.border_dark_blue {
  border: 3px solid #084e7d; }

.background_indigo {
  background-color: #402c83;
  color: #f0f0f0; }

.background_indigo.transparent_85 {
  background-color: rgba(64, 44, 131, 0.85);
  transition: all 1s;
  transition-delay: 1s; }

.background_indigo.transparent_50 {
  background-color: rgba(64, 44, 131, 0);
  transition: all 1s;
  transition-delay: 1s; }

.waypoint_active .background_indigo.transparent_75 {
  background-color: rgba(64, 44, 131, 0.75);
  color: #f0f0f0; }

.waypoint_active .background_indigo.transparent_85 {
  background-color: rgba(64, 44, 131, 0.85);
  color: #f0f0f0; }

.waypoint_active .background_indigo.transparent_50 {
  background-color: rgba(64, 44, 131, 0.5);
  color: #f0f0f0; }

.background_indigo h1, .background_indigo h2 {
  color: #de9d04; }

.background_indigo a {
  color: #de9d04; }
  .background_indigo a:focus, .background_indigo a:hover {
    color: #fbc033; }

.background_indigo .cta_button {
  background-color: #de9d04;
  padding: 8px;
  margin-bottom: 25px;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'Georgia';
  transition: color 0.25s, background-color 0.25s; }
  .background_indigo .cta_button:focus, .background_indigo .cta_button:hover {
    background-color: #402c83; }
  .background_indigo .cta_button:focus,
  .background_indigo .cta_button:hover a {
    color: #de9d04; }

.cta_button a {
  color: #402c83; }

@keyframes indigopulse {
  0% {
    color: #5c3fbc; }
  50% {
    color: #24194a; }
  100% {
    color: #5c3fbc; } }

.background_indigo .multibox_content {
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0);
  transition-delay: 2s;
  max-width: 100%; }

.waypoint_active .background_indigo .multibox_content {
  text-shadow: 0px 0px 2px rgba(64, 44, 131, 0.5); }

.background_indigo.tool_tip.tool_tip_home {
  background-color: rgba(64, 44, 131, 0.85);
  color: #f0f0f0; }

.background_indigo.tool_tip h1 {
  color: #402c83;
  animation: indigopulse 5s infinite; }

.background_indigo.tool_tip.tool_tip_home h1 {
  color: #402c83;
  animation: initial; }

.background_indigo.tool_tip:hover h1 {
  color: #f0f0f0;
  animation: initial; }

.background_indigo.tool_tip:hover {
  background-color: #402c83;
  color: #f0f0f0; }

.overlay_indigo .section_overlay {
  background-color: #402c83; }

.menu img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 3px solid #f0f0f0; }

.foreground_indigo {
  color: #402c83; }

.underline_reveal_active {
  border-bottom: 3px solid #f0f0f0; }

.foreground_indigo a {
  color: #5c3fbc;
  transition: all 0.25s; }
  .foreground_indigo a:focus, .foreground_indigo a:hover {
    color: #fbc033; }

.border_indigo {
  border: 3px solid #402c83; }

.background_red {
  background-color: #c93712;
  color: #f0f0f0; }

.background_red.transparent_85 {
  background-color: rgba(201, 55, 18, 0.85);
  transition: all 1s;
  transition-delay: 1s; }

.background_red.transparent_50 {
  background-color: rgba(201, 55, 18, 0);
  transition: all 1s;
  transition-delay: 1s; }

.waypoint_active .background_red.transparent_75 {
  background-color: rgba(201, 55, 18, 0.75);
  color: #f0f0f0; }

.waypoint_active .background_red.transparent_85 {
  background-color: rgba(201, 55, 18, 0.85);
  color: #f0f0f0; }

.waypoint_active .background_red.transparent_50 {
  background-color: rgba(201, 55, 18, 0.5);
  color: #f0f0f0; }

.background_red h1, .background_red h2 {
  color: #402c83; }

.background_red a {
  color: #402c83; }
  .background_red a:focus, .background_red a:hover {
    color: #5c3fbc; }

.background_red .cta_button {
  background-color: #402c83;
  padding: 8px;
  margin-bottom: 25px;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'Georgia';
  transition: color 0.25s, background-color 0.25s; }
  .background_red .cta_button:focus, .background_red .cta_button:hover {
    background-color: #c93712; }
  .background_red .cta_button:focus,
  .background_red .cta_button:hover a {
    color: #402c83; }

.cta_button a {
  color: #c93712; }

@keyframes redpulse {
  0% {
    color: #ed5e3a; }
  50% {
    color: #83240c; }
  100% {
    color: #ed5e3a; } }

.background_red .multibox_content {
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0);
  transition-delay: 2s;
  max-width: 100%; }

.waypoint_active .background_red .multibox_content {
  text-shadow: 0px 0px 2px rgba(201, 55, 18, 0.5); }

.background_red.tool_tip.tool_tip_home {
  background-color: rgba(201, 55, 18, 0.85);
  color: #f0f0f0; }

.background_red.tool_tip h1 {
  color: #c93712;
  animation: redpulse 5s infinite; }

.background_red.tool_tip.tool_tip_home h1 {
  color: #c93712;
  animation: initial; }

.background_red.tool_tip:hover h1 {
  color: #f0f0f0;
  animation: initial; }

.background_red.tool_tip:hover {
  background-color: #c93712;
  color: #f0f0f0; }

.overlay_red .section_overlay {
  background-color: #c93712; }

.menu img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 3px solid #f0f0f0; }

.foreground_red {
  color: #c93712; }

.underline_reveal_active {
  border-bottom: 3px solid #f0f0f0; }

.foreground_red a {
  color: #ed5e3a;
  transition: all 0.25s; }
  .foreground_red a:focus, .foreground_red a:hover {
    color: #5c3fbc; }

.border_red {
  border: 3px solid #c93712; }

.background_yellow {
  background-color: #de9d04;
  color: #402c83; }

.background_yellow.transparent_85 {
  background-color: rgba(222, 157, 4, 0.85);
  transition: all 1s;
  transition-delay: 1s; }

.background_yellow.transparent_50 {
  background-color: rgba(222, 157, 4, 0);
  transition: all 1s;
  transition-delay: 1s; }

.waypoint_active .background_yellow.transparent_75 {
  background-color: rgba(222, 157, 4, 0.75);
  color: #402c83; }

.waypoint_active .background_yellow.transparent_85 {
  background-color: rgba(222, 157, 4, 0.85);
  color: #402c83; }

.waypoint_active .background_yellow.transparent_50 {
  background-color: rgba(222, 157, 4, 0.5);
  color: #402c83; }

.background_yellow h1, .background_yellow h2 {
  color: #c93712; }

.background_yellow a {
  color: #c93712; }
  .background_yellow a:focus, .background_yellow a:hover {
    color: #ed5e3a; }

.background_yellow .cta_button {
  background-color: #c93712;
  padding: 8px;
  margin-bottom: 25px;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'Georgia';
  transition: color 0.25s, background-color 0.25s; }
  .background_yellow .cta_button:focus, .background_yellow .cta_button:hover {
    background-color: #de9d04; }
  .background_yellow .cta_button:focus,
  .background_yellow .cta_button:hover a {
    color: #c93712; }

.cta_button a {
  color: #de9d04; }

@keyframes yellowpulse {
  0% {
    color: #fbc033; }
  50% {
    color: #936803; }
  100% {
    color: #fbc033; } }

.background_yellow .multibox_content {
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0);
  transition-delay: 2s;
  max-width: 100%; }

.waypoint_active .background_yellow .multibox_content {
  text-shadow: 0px 0px 2px rgba(222, 157, 4, 0.5); }

.background_yellow.tool_tip.tool_tip_home {
  background-color: rgba(222, 157, 4, 0.85);
  color: #402c83; }

.background_yellow.tool_tip h1 {
  color: #de9d04;
  animation: yellowpulse 5s infinite; }

.background_yellow.tool_tip.tool_tip_home h1 {
  color: #de9d04;
  animation: initial; }

.background_yellow.tool_tip:hover h1 {
  color: #402c83;
  animation: initial; }

.background_yellow.tool_tip:hover {
  background-color: #de9d04;
  color: #402c83; }

.overlay_yellow .section_overlay {
  background-color: #de9d04; }

.menu img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 3px solid #402c83; }

.foreground_yellow {
  color: #de9d04; }

.underline_reveal_active {
  border-bottom: 3px solid #402c83; }

.foreground_yellow a {
  color: #fbc033;
  transition: all 0.25s; }
  .foreground_yellow a:focus, .foreground_yellow a:hover {
    color: #ed5e3a; }

.border_yellow {
  border: 3px solid #de9d04; }

.background_orange {
  background-color: #ff860e;
  color: #f0f0f0; }

.background_orange.transparent_85 {
  background-color: rgba(255, 134, 14, 0.85);
  transition: all 1s;
  transition-delay: 1s; }

.background_orange.transparent_50 {
  background-color: rgba(255, 134, 14, 0);
  transition: all 1s;
  transition-delay: 1s; }

.waypoint_active .background_orange.transparent_75 {
  background-color: rgba(255, 134, 14, 0.75);
  color: #f0f0f0; }

.waypoint_active .background_orange.transparent_85 {
  background-color: rgba(255, 134, 14, 0.85);
  color: #f0f0f0; }

.waypoint_active .background_orange.transparent_50 {
  background-color: rgba(255, 134, 14, 0.5);
  color: #f0f0f0; }

.background_orange h1, .background_orange h2 {
  color: #c93712; }

.background_orange a {
  color: #c93712; }
  .background_orange a:focus, .background_orange a:hover {
    color: #ed5e3a; }

.background_orange .cta_button {
  background-color: #c93712;
  padding: 8px;
  margin-bottom: 25px;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'Georgia';
  transition: color 0.25s, background-color 0.25s; }
  .background_orange .cta_button:focus, .background_orange .cta_button:hover {
    background-color: #ff860e; }
  .background_orange .cta_button:focus,
  .background_orange .cta_button:hover a {
    color: #c93712; }

.cta_button a {
  color: #ff860e; }

@keyframes orangepulse {
  0% {
    color: #ffac5b; }
  50% {
    color: #c16000; }
  100% {
    color: #ffac5b; } }

.background_orange .multibox_content {
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0);
  transition-delay: 2s;
  max-width: 100%; }

.waypoint_active .background_orange .multibox_content {
  text-shadow: 0px 0px 2px rgba(255, 134, 14, 0.5); }

.background_orange.tool_tip.tool_tip_home {
  background-color: rgba(255, 134, 14, 0.85);
  color: #f0f0f0; }

.background_orange.tool_tip h1 {
  color: #ff860e;
  animation: orangepulse 5s infinite; }

.background_orange.tool_tip.tool_tip_home h1 {
  color: #ff860e;
  animation: initial; }

.background_orange.tool_tip:hover h1 {
  color: #f0f0f0;
  animation: initial; }

.background_orange.tool_tip:hover {
  background-color: #ff860e;
  color: #f0f0f0; }

.overlay_orange .section_overlay {
  background-color: #ff860e; }

.menu img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 3px solid #f0f0f0; }

.foreground_orange {
  color: #ff860e; }

.underline_reveal_active {
  border-bottom: 3px solid #f0f0f0; }

.foreground_orange a {
  color: #ffac5b;
  transition: all 0.25s; }
  .foreground_orange a:focus, .foreground_orange a:hover {
    color: #ed5e3a; }

.border_orange {
  border: 3px solid #ff860e; }

.background_green {
  background-color: #288041;
  color: #f0f0f0; }

.background_green.transparent_85 {
  background-color: rgba(40, 128, 65, 0.85);
  transition: all 1s;
  transition-delay: 1s; }

.background_green.transparent_50 {
  background-color: rgba(40, 128, 65, 0);
  transition: all 1s;
  transition-delay: 1s; }

.waypoint_active .background_green.transparent_75 {
  background-color: rgba(40, 128, 65, 0.75);
  color: #f0f0f0; }

.waypoint_active .background_green.transparent_85 {
  background-color: rgba(40, 128, 65, 0.85);
  color: #f0f0f0; }

.waypoint_active .background_green.transparent_50 {
  background-color: rgba(40, 128, 65, 0.5);
  color: #f0f0f0; }

.background_green h1, .background_green h2 {
  color: #c93712; }

.background_green a {
  color: #c93712; }
  .background_green a:focus, .background_green a:hover {
    color: #ed5e3a; }

.background_green .cta_button {
  background-color: #c93712;
  padding: 8px;
  margin-bottom: 25px;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'Georgia';
  transition: color 0.25s, background-color 0.25s; }
  .background_green .cta_button:focus, .background_green .cta_button:hover {
    background-color: #288041; }
  .background_green .cta_button:focus,
  .background_green .cta_button:hover a {
    color: #c93712; }

.cta_button a {
  color: #288041; }

@keyframes greenpulse {
  0% {
    color: #3aba5f; }
  50% {
    color: #164623; }
  100% {
    color: #3aba5f; } }

.background_green .multibox_content {
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0);
  transition-delay: 2s;
  max-width: 100%; }

.waypoint_active .background_green .multibox_content {
  text-shadow: 0px 0px 2px rgba(40, 128, 65, 0.5); }

.background_green.tool_tip.tool_tip_home {
  background-color: rgba(40, 128, 65, 0.85);
  color: #f0f0f0; }

.background_green.tool_tip h1 {
  color: #288041;
  animation: greenpulse 5s infinite; }

.background_green.tool_tip.tool_tip_home h1 {
  color: #288041;
  animation: initial; }

.background_green.tool_tip:hover h1 {
  color: #f0f0f0;
  animation: initial; }

.background_green.tool_tip:hover {
  background-color: #288041;
  color: #f0f0f0; }

.overlay_green .section_overlay {
  background-color: #288041; }

.menu img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 3px solid #f0f0f0; }

.foreground_green {
  color: #288041; }

.underline_reveal_active {
  border-bottom: 3px solid #f0f0f0; }

.foreground_green a {
  color: #3aba5f;
  transition: all 0.25s; }
  .foreground_green a:focus, .foreground_green a:hover {
    color: #ed5e3a; }

.border_green {
  border: 3px solid #288041; }

.background_purple {
  background-color: #331069;
  color: #f0f0f0; }

.background_purple.transparent_85 {
  background-color: rgba(51, 16, 105, 0.85);
  transition: all 1s;
  transition-delay: 1s; }

.background_purple.transparent_50 {
  background-color: rgba(51, 16, 105, 0);
  transition: all 1s;
  transition-delay: 1s; }

.waypoint_active .background_purple.transparent_75 {
  background-color: rgba(51, 16, 105, 0.75);
  color: #f0f0f0; }

.waypoint_active .background_purple.transparent_85 {
  background-color: rgba(51, 16, 105, 0.85);
  color: #f0f0f0; }

.waypoint_active .background_purple.transparent_50 {
  background-color: rgba(51, 16, 105, 0.5);
  color: #f0f0f0; }

.background_purple h1, .background_purple h2 {
  color: #52c1b4; }

.background_purple a {
  color: #52c1b4; }
  .background_purple a:focus, .background_purple a:hover {
    color: #8ad5cc; }

.background_purple .cta_button {
  background-color: #52c1b4;
  padding: 8px;
  margin-bottom: 25px;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'Georgia';
  transition: color 0.25s, background-color 0.25s; }
  .background_purple .cta_button:focus, .background_purple .cta_button:hover {
    background-color: #331069; }
  .background_purple .cta_button:focus,
  .background_purple .cta_button:hover a {
    color: #52c1b4; }

.cta_button a {
  color: #331069; }

@keyframes purplepulse {
  0% {
    color: #531aab; }
  50% {
    color: #130627; }
  100% {
    color: #531aab; } }

.background_purple .multibox_content {
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0);
  transition-delay: 2s;
  max-width: 100%; }

.waypoint_active .background_purple .multibox_content {
  text-shadow: 0px 0px 2px rgba(51, 16, 105, 0.5); }

.background_purple.tool_tip.tool_tip_home {
  background-color: rgba(51, 16, 105, 0.85);
  color: #f0f0f0; }

.background_purple.tool_tip h1 {
  color: #331069;
  animation: purplepulse 5s infinite; }

.background_purple.tool_tip.tool_tip_home h1 {
  color: #331069;
  animation: initial; }

.background_purple.tool_tip:hover h1 {
  color: #f0f0f0;
  animation: initial; }

.background_purple.tool_tip:hover {
  background-color: #331069;
  color: #f0f0f0; }

.overlay_purple .section_overlay {
  background-color: #331069; }

.menu img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 3px solid #f0f0f0; }

.foreground_purple {
  color: #331069; }

.underline_reveal_active {
  border-bottom: 3px solid #f0f0f0; }

.foreground_purple a {
  color: #531aab;
  transition: all 0.25s; }
  .foreground_purple a:focus, .foreground_purple a:hover {
    color: #8ad5cc; }

.border_purple {
  border: 3px solid #331069; }

.background_blue {
  background-color: #52c1b4;
  color: #f0f0f0; }

.background_blue.transparent_85 {
  background-color: rgba(82, 193, 180, 0.85);
  transition: all 1s;
  transition-delay: 1s; }

.background_blue.transparent_50 {
  background-color: rgba(82, 193, 180, 0);
  transition: all 1s;
  transition-delay: 1s; }

.waypoint_active .background_blue.transparent_75 {
  background-color: rgba(82, 193, 180, 0.75);
  color: #f0f0f0; }

.waypoint_active .background_blue.transparent_85 {
  background-color: rgba(82, 193, 180, 0.85);
  color: #f0f0f0; }

.waypoint_active .background_blue.transparent_50 {
  background-color: rgba(82, 193, 180, 0.5);
  color: #f0f0f0; }

.background_blue h1, .background_blue h2 {
  color: #b13947; }

.background_blue a {
  color: #b13947; }
  .background_blue a:focus, .background_blue a:hover {
    color: #ce6874; }

.background_blue .cta_button {
  background-color: #b13947;
  padding: 8px;
  margin-bottom: 25px;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'Georgia';
  transition: color 0.25s, background-color 0.25s; }
  .background_blue .cta_button:focus, .background_blue .cta_button:hover {
    background-color: #52c1b4; }
  .background_blue .cta_button:focus,
  .background_blue .cta_button:hover a {
    color: #b13947; }

.cta_button a {
  color: #52c1b4; }

@keyframes bluepulse {
  0% {
    color: #8ad5cc; }
  50% {
    color: #349287; }
  100% {
    color: #8ad5cc; } }

.background_blue .multibox_content {
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0);
  transition-delay: 2s;
  max-width: 100%; }

.waypoint_active .background_blue .multibox_content {
  text-shadow: 0px 0px 2px rgba(82, 193, 180, 0.5); }

.background_blue.tool_tip.tool_tip_home {
  background-color: rgba(82, 193, 180, 0.85);
  color: #f0f0f0; }

.background_blue.tool_tip h1 {
  color: #52c1b4;
  animation: bluepulse 5s infinite; }

.background_blue.tool_tip.tool_tip_home h1 {
  color: #52c1b4;
  animation: initial; }

.background_blue.tool_tip:hover h1 {
  color: #f0f0f0;
  animation: initial; }

.background_blue.tool_tip:hover {
  background-color: #52c1b4;
  color: #f0f0f0; }

.overlay_blue .section_overlay {
  background-color: #52c1b4; }

.menu img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 3px solid #f0f0f0; }

.foreground_blue {
  color: #52c1b4; }

.underline_reveal_active {
  border-bottom: 3px solid #f0f0f0; }

.foreground_blue a {
  color: #8ad5cc;
  transition: all 0.25s; }
  .foreground_blue a:focus, .foreground_blue a:hover {
    color: #ce6874; }

.border_blue {
  border: 3px solid #52c1b4; }

.background_black {
  background-color: #0f0f0f;
  color: #f0f0f0; }

.background_black.transparent_85 {
  background-color: rgba(15, 15, 15, 0.85);
  transition: all 1s;
  transition-delay: 1s; }

.background_black.transparent_50 {
  background-color: rgba(15, 15, 15, 0);
  transition: all 1s;
  transition-delay: 1s; }

.waypoint_active .background_black.transparent_75 {
  background-color: rgba(15, 15, 15, 0.75);
  color: #f0f0f0; }

.waypoint_active .background_black.transparent_85 {
  background-color: rgba(15, 15, 15, 0.85);
  color: #f0f0f0; }

.waypoint_active .background_black.transparent_50 {
  background-color: rgba(15, 15, 15, 0.5);
  color: #f0f0f0; }

.background_black h1, .background_black h2 {
  color: #b13947; }

.background_black a {
  color: #b13947; }
  .background_black a:focus, .background_black a:hover {
    color: #ce6874; }

.background_black .cta_button {
  background-color: #b13947;
  padding: 8px;
  margin-bottom: 25px;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'Georgia';
  transition: color 0.25s, background-color 0.25s; }
  .background_black .cta_button:focus, .background_black .cta_button:hover {
    background-color: #0f0f0f; }
  .background_black .cta_button:focus,
  .background_black .cta_button:hover a {
    color: #b13947; }

.cta_button a {
  color: #0f0f0f; }

@keyframes blackpulse {
  0% {
    color: #353535; }
  50% {
    color: black; }
  100% {
    color: #353535; } }

.background_black .multibox_content {
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0);
  transition-delay: 2s;
  max-width: 100%; }

.waypoint_active .background_black .multibox_content {
  text-shadow: 0px 0px 2px rgba(15, 15, 15, 0.5); }

.background_black.tool_tip.tool_tip_home {
  background-color: rgba(15, 15, 15, 0.85);
  color: #f0f0f0; }

.background_black.tool_tip h1 {
  color: #0f0f0f;
  animation: blackpulse 5s infinite; }

.background_black.tool_tip.tool_tip_home h1 {
  color: #0f0f0f;
  animation: initial; }

.background_black.tool_tip:hover h1 {
  color: #f0f0f0;
  animation: initial; }

.background_black.tool_tip:hover {
  background-color: #0f0f0f;
  color: #f0f0f0; }

.overlay_black .section_overlay {
  background-color: #0f0f0f; }

.menu img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 3px solid #f0f0f0; }

.foreground_black {
  color: #0f0f0f; }

.underline_reveal_active {
  border-bottom: 3px solid #f0f0f0; }

.foreground_black a {
  color: #353535;
  transition: all 0.25s; }
  .foreground_black a:focus, .foreground_black a:hover {
    color: #ce6874; }

.border_black {
  border: 3px solid #0f0f0f; }

.background_white_indigo {
  background-color: #f0f0f0;
  color: #402c83; }

.background_white_indigo.transparent_85 {
  background-color: rgba(240, 240, 240, 0.85);
  transition: all 1s;
  transition-delay: 1s; }

.background_white_indigo.transparent_50 {
  background-color: rgba(240, 240, 240, 0);
  transition: all 1s;
  transition-delay: 1s; }

.waypoint_active .background_white_indigo.transparent_75 {
  background-color: rgba(240, 240, 240, 0.75);
  color: #402c83; }

.waypoint_active .background_white_indigo.transparent_85 {
  background-color: rgba(240, 240, 240, 0.85);
  color: #402c83; }

.waypoint_active .background_white_indigo.transparent_50 {
  background-color: rgba(240, 240, 240, 0.5);
  color: #402c83; }

.background_white_indigo h1, .background_white_indigo h2 {
  color: #de9d04; }

.background_white_indigo a {
  color: #de9d04; }
  .background_white_indigo a:focus, .background_white_indigo a:hover {
    color: #fbc033; }

.background_white_indigo .cta_button {
  background-color: #de9d04;
  padding: 8px;
  margin-bottom: 25px;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'Georgia';
  transition: color 0.25s, background-color 0.25s; }
  .background_white_indigo .cta_button:focus, .background_white_indigo .cta_button:hover {
    background-color: #f0f0f0; }
  .background_white_indigo .cta_button:focus,
  .background_white_indigo .cta_button:hover a {
    color: #de9d04; }

.cta_button a {
  color: #f0f0f0; }

@keyframes white_indigopulse {
  0% {
    color: white; }
  50% {
    color: #cacaca; }
  100% {
    color: white; } }

.background_white_indigo .multibox_content {
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0);
  transition-delay: 2s;
  max-width: 100%; }

.waypoint_active .background_white_indigo .multibox_content {
  text-shadow: 0px 0px 2px rgba(240, 240, 240, 0.5); }

.background_white_indigo.tool_tip.tool_tip_home {
  background-color: rgba(240, 240, 240, 0.85);
  color: #402c83; }

.background_white_indigo.tool_tip h1 {
  color: #f0f0f0;
  animation: white_indigopulse 5s infinite; }

.background_white_indigo.tool_tip.tool_tip_home h1 {
  color: #f0f0f0;
  animation: initial; }

.background_white_indigo.tool_tip:hover h1 {
  color: #402c83;
  animation: initial; }

.background_white_indigo.tool_tip:hover {
  background-color: #f0f0f0;
  color: #402c83; }

.overlay_white_indigo .section_overlay {
  background-color: #f0f0f0; }

.menu img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 3px solid #402c83; }

.foreground_white_indigo {
  color: #f0f0f0; }

.underline_reveal_active {
  border-bottom: 3px solid #402c83; }

.foreground_white_indigo a {
  color: white;
  transition: all 0.25s; }
  .foreground_white_indigo a:focus, .foreground_white_indigo a:hover {
    color: #fbc033; }

.border_white_indigo {
  border: 3px solid #f0f0f0; }

.background_white_red {
  background-color: #f0f0f0;
  color: #c93712; }

.background_white_red.transparent_85 {
  background-color: rgba(240, 240, 240, 0.85);
  transition: all 1s;
  transition-delay: 1s; }

.background_white_red.transparent_50 {
  background-color: rgba(240, 240, 240, 0);
  transition: all 1s;
  transition-delay: 1s; }

.waypoint_active .background_white_red.transparent_75 {
  background-color: rgba(240, 240, 240, 0.75);
  color: #c93712; }

.waypoint_active .background_white_red.transparent_85 {
  background-color: rgba(240, 240, 240, 0.85);
  color: #c93712; }

.waypoint_active .background_white_red.transparent_50 {
  background-color: rgba(240, 240, 240, 0.5);
  color: #c93712; }

.background_white_red h1, .background_white_red h2 {
  color: #de9d04; }

.background_white_red a {
  color: #de9d04; }
  .background_white_red a:focus, .background_white_red a:hover {
    color: #fbc033; }

.background_white_red .cta_button {
  background-color: #de9d04;
  padding: 8px;
  margin-bottom: 25px;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'Georgia';
  transition: color 0.25s, background-color 0.25s; }
  .background_white_red .cta_button:focus, .background_white_red .cta_button:hover {
    background-color: #f0f0f0; }
  .background_white_red .cta_button:focus,
  .background_white_red .cta_button:hover a {
    color: #de9d04; }

.cta_button a {
  color: #f0f0f0; }

@keyframes white_redpulse {
  0% {
    color: white; }
  50% {
    color: #cacaca; }
  100% {
    color: white; } }

.background_white_red .multibox_content {
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0);
  transition-delay: 2s;
  max-width: 100%; }

.waypoint_active .background_white_red .multibox_content {
  text-shadow: 0px 0px 2px rgba(240, 240, 240, 0.5); }

.background_white_red.tool_tip.tool_tip_home {
  background-color: rgba(240, 240, 240, 0.85);
  color: #c93712; }

.background_white_red.tool_tip h1 {
  color: #f0f0f0;
  animation: white_redpulse 5s infinite; }

.background_white_red.tool_tip.tool_tip_home h1 {
  color: #f0f0f0;
  animation: initial; }

.background_white_red.tool_tip:hover h1 {
  color: #c93712;
  animation: initial; }

.background_white_red.tool_tip:hover {
  background-color: #f0f0f0;
  color: #c93712; }

.overlay_white_red .section_overlay {
  background-color: #f0f0f0; }

.menu img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 3px solid #c93712; }

.foreground_white_red {
  color: #f0f0f0; }

.underline_reveal_active {
  border-bottom: 3px solid #c93712; }

.foreground_white_red a {
  color: white;
  transition: all 0.25s; }
  .foreground_white_red a:focus, .foreground_white_red a:hover {
    color: #fbc033; }

.border_white_red {
  border: 3px solid #f0f0f0; }

.background_grey_yellow {
  background-color: #242b32;
  color: #de9d04; }

.background_grey_yellow.transparent_85 {
  background-color: rgba(36, 43, 50, 0.85);
  transition: all 1s;
  transition-delay: 1s; }

.background_grey_yellow.transparent_50 {
  background-color: rgba(36, 43, 50, 0);
  transition: all 1s;
  transition-delay: 1s; }

.waypoint_active .background_grey_yellow.transparent_75 {
  background-color: rgba(36, 43, 50, 0.75);
  color: #de9d04; }

.waypoint_active .background_grey_yellow.transparent_85 {
  background-color: rgba(36, 43, 50, 0.85);
  color: #de9d04; }

.waypoint_active .background_grey_yellow.transparent_50 {
  background-color: rgba(36, 43, 50, 0.5);
  color: #de9d04; }

.background_grey_yellow h1, .background_grey_yellow h2 {
  color: #402c83; }

.background_grey_yellow a {
  color: #402c83; }
  .background_grey_yellow a:focus, .background_grey_yellow a:hover {
    color: #5c3fbc; }

.background_grey_yellow .cta_button {
  background-color: #402c83;
  padding: 8px;
  margin-bottom: 25px;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'Georgia';
  transition: color 0.25s, background-color 0.25s; }
  .background_grey_yellow .cta_button:focus, .background_grey_yellow .cta_button:hover {
    background-color: #242b32; }
  .background_grey_yellow .cta_button:focus,
  .background_grey_yellow .cta_button:hover a {
    color: #402c83; }

.cta_button a {
  color: #242b32; }

@keyframes grey_yellowpulse {
  0% {
    color: #44515e; }
  50% {
    color: #040506; }
  100% {
    color: #44515e; } }

.background_grey_yellow .multibox_content {
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0);
  transition-delay: 2s;
  max-width: 100%; }

.waypoint_active .background_grey_yellow .multibox_content {
  text-shadow: 0px 0px 2px rgba(36, 43, 50, 0.5); }

.background_grey_yellow.tool_tip.tool_tip_home {
  background-color: rgba(36, 43, 50, 0.85);
  color: #de9d04; }

.background_grey_yellow.tool_tip h1 {
  color: #242b32;
  animation: grey_yellowpulse 5s infinite; }

.background_grey_yellow.tool_tip.tool_tip_home h1 {
  color: #242b32;
  animation: initial; }

.background_grey_yellow.tool_tip:hover h1 {
  color: #de9d04;
  animation: initial; }

.background_grey_yellow.tool_tip:hover {
  background-color: #242b32;
  color: #de9d04; }

.overlay_grey_yellow .section_overlay {
  background-color: #242b32; }

.menu img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 3px solid #de9d04; }

.foreground_grey_yellow {
  color: #242b32; }

.underline_reveal_active {
  border-bottom: 3px solid #de9d04; }

.foreground_grey_yellow a {
  color: #44515e;
  transition: all 0.25s; }
  .foreground_grey_yellow a:focus, .foreground_grey_yellow a:hover {
    color: #5c3fbc; }

.border_grey_yellow {
  border: 3px solid #242b32; }

.background_dark_grey {
  background-color: #242b32;
  color: #de9d04; }

.background_dark_grey.transparent_85 {
  background-color: rgba(36, 43, 50, 0.85);
  transition: all 1s;
  transition-delay: 1s; }

.background_dark_grey.transparent_50 {
  background-color: rgba(36, 43, 50, 0);
  transition: all 1s;
  transition-delay: 1s; }

.waypoint_active .background_dark_grey.transparent_75 {
  background-color: rgba(36, 43, 50, 0.75);
  color: #de9d04; }

.waypoint_active .background_dark_grey.transparent_85 {
  background-color: rgba(36, 43, 50, 0.85);
  color: #de9d04; }

.waypoint_active .background_dark_grey.transparent_50 {
  background-color: rgba(36, 43, 50, 0.5);
  color: #de9d04; }

.background_dark_grey h1, .background_dark_grey h2 {
  color: #c93712; }

.background_dark_grey a {
  color: #c93712; }
  .background_dark_grey a:focus, .background_dark_grey a:hover {
    color: #ed5e3a; }

.background_dark_grey .cta_button {
  background-color: #c93712;
  padding: 8px;
  margin-bottom: 25px;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'Georgia';
  transition: color 0.25s, background-color 0.25s; }
  .background_dark_grey .cta_button:focus, .background_dark_grey .cta_button:hover {
    background-color: #242b32; }
  .background_dark_grey .cta_button:focus,
  .background_dark_grey .cta_button:hover a {
    color: #c93712; }

.cta_button a {
  color: #242b32; }

@keyframes dark_greypulse {
  0% {
    color: #44515e; }
  50% {
    color: #040506; }
  100% {
    color: #44515e; } }

.background_dark_grey .multibox_content {
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0);
  transition-delay: 2s;
  max-width: 100%; }

.waypoint_active .background_dark_grey .multibox_content {
  text-shadow: 0px 0px 2px rgba(36, 43, 50, 0.5); }

.background_dark_grey.tool_tip.tool_tip_home {
  background-color: rgba(36, 43, 50, 0.85);
  color: #de9d04; }

.background_dark_grey.tool_tip h1 {
  color: #242b32;
  animation: dark_greypulse 5s infinite; }

.background_dark_grey.tool_tip.tool_tip_home h1 {
  color: #242b32;
  animation: initial; }

.background_dark_grey.tool_tip:hover h1 {
  color: #de9d04;
  animation: initial; }

.background_dark_grey.tool_tip:hover {
  background-color: #242b32;
  color: #de9d04; }

.overlay_dark_grey .section_overlay {
  background-color: #242b32; }

.menu img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 3px solid #de9d04; }

.foreground_dark_grey {
  color: #242b32; }

.underline_reveal_active {
  border-bottom: 3px solid #de9d04; }

.foreground_dark_grey a {
  color: #44515e;
  transition: all 0.25s; }
  .foreground_dark_grey a:focus, .foreground_dark_grey a:hover {
    color: #ed5e3a; }

.border_dark_grey {
  border: 3px solid #242b32; }

.background_pink {
  background-color: #b13947;
  color: #f0f0f0; }

.background_pink.transparent_85 {
  background-color: rgba(177, 57, 71, 0.85);
  transition: all 1s;
  transition-delay: 1s; }

.background_pink.transparent_50 {
  background-color: rgba(177, 57, 71, 0);
  transition: all 1s;
  transition-delay: 1s; }

.waypoint_active .background_pink.transparent_75 {
  background-color: rgba(177, 57, 71, 0.75);
  color: #f0f0f0; }

.waypoint_active .background_pink.transparent_85 {
  background-color: rgba(177, 57, 71, 0.85);
  color: #f0f0f0; }

.waypoint_active .background_pink.transparent_50 {
  background-color: rgba(177, 57, 71, 0.5);
  color: #f0f0f0; }

.background_pink h1, .background_pink h2 {
  color: #288041; }

.background_pink a {
  color: #288041; }
  .background_pink a:focus, .background_pink a:hover {
    color: #3aba5f; }

.background_pink .cta_button {
  background-color: #288041;
  padding: 8px;
  margin-bottom: 25px;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'Georgia';
  transition: color 0.25s, background-color 0.25s; }
  .background_pink .cta_button:focus, .background_pink .cta_button:hover {
    background-color: #b13947; }
  .background_pink .cta_button:focus,
  .background_pink .cta_button:hover a {
    color: #288041; }

.cta_button a {
  color: #b13947; }

@keyframes pinkpulse {
  0% {
    color: #ce6874; }
  50% {
    color: #772630; }
  100% {
    color: #ce6874; } }

.background_pink .multibox_content {
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0);
  transition-delay: 2s;
  max-width: 100%; }

.waypoint_active .background_pink .multibox_content {
  text-shadow: 0px 0px 2px rgba(177, 57, 71, 0.5); }

.background_pink.tool_tip.tool_tip_home {
  background-color: rgba(177, 57, 71, 0.85);
  color: #f0f0f0; }

.background_pink.tool_tip h1 {
  color: #b13947;
  animation: pinkpulse 5s infinite; }

.background_pink.tool_tip.tool_tip_home h1 {
  color: #b13947;
  animation: initial; }

.background_pink.tool_tip:hover h1 {
  color: #f0f0f0;
  animation: initial; }

.background_pink.tool_tip:hover {
  background-color: #b13947;
  color: #f0f0f0; }

.overlay_pink .section_overlay {
  background-color: #b13947; }

.menu img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 3px solid #f0f0f0; }

.foreground_pink {
  color: #b13947; }

.underline_reveal_active {
  border-bottom: 3px solid #f0f0f0; }

.foreground_pink a {
  color: #ce6874;
  transition: all 0.25s; }
  .foreground_pink a:focus, .foreground_pink a:hover {
    color: #3aba5f; }

.border_pink {
  border: 3px solid #b13947; }

.background_highlight {
  background-color: #de9d04;
  color: #0f0f0f; }

.background_highlight.transparent_85 {
  background-color: rgba(222, 157, 4, 0.85);
  transition: all 1s;
  transition-delay: 1s; }

.background_highlight.transparent_50 {
  background-color: rgba(222, 157, 4, 0);
  transition: all 1s;
  transition-delay: 1s; }

.waypoint_active .background_highlight.transparent_75 {
  background-color: rgba(222, 157, 4, 0.75);
  color: #0f0f0f; }

.waypoint_active .background_highlight.transparent_85 {
  background-color: rgba(222, 157, 4, 0.85);
  color: #0f0f0f; }

.waypoint_active .background_highlight.transparent_50 {
  background-color: rgba(222, 157, 4, 0.5);
  color: #0f0f0f; }

.background_highlight h1, .background_highlight h2 {
  color: #242b32; }

.background_highlight a {
  color: #242b32; }
  .background_highlight a:focus, .background_highlight a:hover {
    color: #44515e; }

.background_highlight .cta_button {
  background-color: #242b32;
  padding: 8px;
  margin-bottom: 25px;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'Georgia';
  transition: color 0.25s, background-color 0.25s; }
  .background_highlight .cta_button:focus, .background_highlight .cta_button:hover {
    background-color: #de9d04; }
  .background_highlight .cta_button:focus,
  .background_highlight .cta_button:hover a {
    color: #242b32; }

.cta_button a {
  color: #de9d04; }

@keyframes highlightpulse {
  0% {
    color: #fbc033; }
  50% {
    color: #936803; }
  100% {
    color: #fbc033; } }

.background_highlight .multibox_content {
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0);
  transition-delay: 2s;
  max-width: 100%; }

.waypoint_active .background_highlight .multibox_content {
  text-shadow: 0px 0px 2px rgba(222, 157, 4, 0.5); }

.background_highlight.tool_tip.tool_tip_home {
  background-color: rgba(222, 157, 4, 0.85);
  color: #0f0f0f; }

.background_highlight.tool_tip h1 {
  color: #de9d04;
  animation: highlightpulse 5s infinite; }

.background_highlight.tool_tip.tool_tip_home h1 {
  color: #de9d04;
  animation: initial; }

.background_highlight.tool_tip:hover h1 {
  color: #0f0f0f;
  animation: initial; }

.background_highlight.tool_tip:hover {
  background-color: #de9d04;
  color: #0f0f0f; }

.overlay_highlight .section_overlay {
  background-color: #de9d04; }

.menu img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 3px solid #0f0f0f; }

.foreground_highlight {
  color: #de9d04; }

.underline_reveal_active {
  border-bottom: 3px solid #0f0f0f; }

.foreground_highlight a {
  color: #fbc033;
  transition: all 0.25s; }
  .foreground_highlight a:focus, .foreground_highlight a:hover {
    color: #44515e; }

.border_highlight {
  border: 3px solid #de9d04; }

.background_primary {
  background-color: #f0f0f0;
  color: #f0f0f0; }

.background_primary.transparent_85 {
  background-color: rgba(240, 240, 240, 0.85);
  transition: all 1s;
  transition-delay: 1s; }

.background_primary.transparent_50 {
  background-color: rgba(240, 240, 240, 0);
  transition: all 1s;
  transition-delay: 1s; }

.waypoint_active .background_primary.transparent_75 {
  background-color: rgba(240, 240, 240, 0.75);
  color: #f0f0f0; }

.waypoint_active .background_primary.transparent_85 {
  background-color: rgba(240, 240, 240, 0.85);
  color: #f0f0f0; }

.waypoint_active .background_primary.transparent_50 {
  background-color: rgba(240, 240, 240, 0.5);
  color: #f0f0f0; }

.background_primary h1, .background_primary h2 {
  color: #de9d04; }

.background_primary a {
  color: #de9d04; }
  .background_primary a:focus, .background_primary a:hover {
    color: #fbc033; }

.background_primary .cta_button {
  background-color: #de9d04;
  padding: 8px;
  margin-bottom: 25px;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'Georgia';
  transition: color 0.25s, background-color 0.25s; }
  .background_primary .cta_button:focus, .background_primary .cta_button:hover {
    background-color: #f0f0f0; }
  .background_primary .cta_button:focus,
  .background_primary .cta_button:hover a {
    color: #de9d04; }

.cta_button a {
  color: #f0f0f0; }

@keyframes primarypulse {
  0% {
    color: white; }
  50% {
    color: #cacaca; }
  100% {
    color: white; } }

.background_primary .multibox_content {
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0);
  transition-delay: 2s;
  max-width: 100%; }

.waypoint_active .background_primary .multibox_content {
  text-shadow: 0px 0px 2px rgba(240, 240, 240, 0.5); }

.background_primary.tool_tip.tool_tip_home {
  background-color: rgba(240, 240, 240, 0.85);
  color: #f0f0f0; }

.background_primary.tool_tip h1 {
  color: #f0f0f0;
  animation: primarypulse 5s infinite; }

.background_primary.tool_tip.tool_tip_home h1 {
  color: #f0f0f0;
  animation: initial; }

.background_primary.tool_tip:hover h1 {
  color: #f0f0f0;
  animation: initial; }

.background_primary.tool_tip:hover {
  background-color: #f0f0f0;
  color: #f0f0f0; }

.overlay_primary .section_overlay {
  background-color: #f0f0f0; }

.menu img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 3px solid #f0f0f0; }

.foreground_primary {
  color: #f0f0f0; }

.underline_reveal_active {
  border-bottom: 3px solid #f0f0f0; }

.foreground_primary a {
  color: white;
  transition: all 0.25s; }
  .foreground_primary a:focus, .foreground_primary a:hover {
    color: #fbc033; }

.border_primary {
  border: 3px solid #f0f0f0; }

.background_tertiary {
  background-color: #f0f0f0;
  color: #de9d04; }

.background_tertiary.transparent_85 {
  background-color: rgba(240, 240, 240, 0.85);
  transition: all 1s;
  transition-delay: 1s; }

.background_tertiary.transparent_50 {
  background-color: rgba(240, 240, 240, 0);
  transition: all 1s;
  transition-delay: 1s; }

.waypoint_active .background_tertiary.transparent_75 {
  background-color: rgba(240, 240, 240, 0.75);
  color: #de9d04; }

.waypoint_active .background_tertiary.transparent_85 {
  background-color: rgba(240, 240, 240, 0.85);
  color: #de9d04; }

.waypoint_active .background_tertiary.transparent_50 {
  background-color: rgba(240, 240, 240, 0.5);
  color: #de9d04; }

.background_tertiary h1, .background_tertiary h2 {
  color: #68ceeb; }

.background_tertiary a {
  color: #68ceeb; }
  .background_tertiary a:focus, .background_tertiary a:hover {
    color: #ace4f4; }

.background_tertiary .cta_button {
  background-color: #68ceeb;
  padding: 8px;
  margin-bottom: 25px;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'Georgia';
  transition: color 0.25s, background-color 0.25s; }
  .background_tertiary .cta_button:focus, .background_tertiary .cta_button:hover {
    background-color: #f0f0f0; }
  .background_tertiary .cta_button:focus,
  .background_tertiary .cta_button:hover a {
    color: #68ceeb; }

.cta_button a {
  color: #f0f0f0; }

@keyframes tertiarypulse {
  0% {
    color: white; }
  50% {
    color: #cacaca; }
  100% {
    color: white; } }

.background_tertiary .multibox_content {
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0);
  transition-delay: 2s;
  max-width: 100%; }

.waypoint_active .background_tertiary .multibox_content {
  text-shadow: 0px 0px 2px rgba(240, 240, 240, 0.5); }

.background_tertiary.tool_tip.tool_tip_home {
  background-color: rgba(240, 240, 240, 0.85);
  color: #de9d04; }

.background_tertiary.tool_tip h1 {
  color: #f0f0f0;
  animation: tertiarypulse 5s infinite; }

.background_tertiary.tool_tip.tool_tip_home h1 {
  color: #f0f0f0;
  animation: initial; }

.background_tertiary.tool_tip:hover h1 {
  color: #de9d04;
  animation: initial; }

.background_tertiary.tool_tip:hover {
  background-color: #f0f0f0;
  color: #de9d04; }

.overlay_tertiary .section_overlay {
  background-color: #f0f0f0; }

.menu img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 3px solid #de9d04; }

.foreground_tertiary {
  color: #f0f0f0; }

.underline_reveal_active {
  border-bottom: 3px solid #de9d04; }

.foreground_tertiary a {
  color: white;
  transition: all 0.25s; }
  .foreground_tertiary a:focus, .foreground_tertiary a:hover {
    color: #ace4f4; }

.border_tertiary {
  border: 3px solid #f0f0f0; }

.background_secondary {
  background-color: #68ceeb;
  color: #f0f0f0; }

.background_secondary.transparent_85 {
  background-color: rgba(104, 206, 235, 0.85);
  transition: all 1s;
  transition-delay: 1s; }

.background_secondary.transparent_50 {
  background-color: rgba(104, 206, 235, 0);
  transition: all 1s;
  transition-delay: 1s; }

.waypoint_active .background_secondary.transparent_75 {
  background-color: rgba(104, 206, 235, 0.75);
  color: #f0f0f0; }

.waypoint_active .background_secondary.transparent_85 {
  background-color: rgba(104, 206, 235, 0.85);
  color: #f0f0f0; }

.waypoint_active .background_secondary.transparent_50 {
  background-color: rgba(104, 206, 235, 0.5);
  color: #f0f0f0; }

.background_secondary h1, .background_secondary h2 {
  color: #de9d04; }

.background_secondary a {
  color: #de9d04; }
  .background_secondary a:focus, .background_secondary a:hover {
    color: #fbc033; }

.background_secondary .cta_button {
  background-color: #de9d04;
  padding: 8px;
  margin-bottom: 25px;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'Georgia';
  transition: color 0.25s, background-color 0.25s; }
  .background_secondary .cta_button:focus, .background_secondary .cta_button:hover {
    background-color: #68ceeb; }
  .background_secondary .cta_button:focus,
  .background_secondary .cta_button:hover a {
    color: #de9d04; }

.cta_button a {
  color: #68ceeb; }

@keyframes secondarypulse {
  0% {
    color: #ace4f4; }
  50% {
    color: #24b8e2; }
  100% {
    color: #ace4f4; } }

.background_secondary .multibox_content {
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0);
  transition-delay: 2s;
  max-width: 100%; }

.waypoint_active .background_secondary .multibox_content {
  text-shadow: 0px 0px 2px rgba(104, 206, 235, 0.5); }

.background_secondary.tool_tip.tool_tip_home {
  background-color: rgba(104, 206, 235, 0.85);
  color: #f0f0f0; }

.background_secondary.tool_tip h1 {
  color: #68ceeb;
  animation: secondarypulse 5s infinite; }

.background_secondary.tool_tip.tool_tip_home h1 {
  color: #68ceeb;
  animation: initial; }

.background_secondary.tool_tip:hover h1 {
  color: #f0f0f0;
  animation: initial; }

.background_secondary.tool_tip:hover {
  background-color: #68ceeb;
  color: #f0f0f0; }

.overlay_secondary .section_overlay {
  background-color: #68ceeb; }

.menu img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 3px solid #f0f0f0; }

.foreground_secondary {
  color: #68ceeb; }

.underline_reveal_active {
  border-bottom: 3px solid #f0f0f0; }

.foreground_secondary a {
  color: #ace4f4;
  transition: all 0.25s; }
  .foreground_secondary a:focus, .foreground_secondary a:hover {
    color: #fbc033; }

.border_secondary {
  border: 3px solid #68ceeb; }

.background_white {
  background-color: #f0f0f0;
  color: #0f0f0f; }

.background_white.transparent_85 {
  background-color: rgba(240, 240, 240, 0.85);
  transition: all 1s;
  transition-delay: 1s; }

.background_white.transparent_50 {
  background-color: rgba(240, 240, 240, 0);
  transition: all 1s;
  transition-delay: 1s; }

.waypoint_active .background_white.transparent_75 {
  background-color: rgba(240, 240, 240, 0.75);
  color: #0f0f0f; }

.waypoint_active .background_white.transparent_85 {
  background-color: rgba(240, 240, 240, 0.85);
  color: #0f0f0f; }

.waypoint_active .background_white.transparent_50 {
  background-color: rgba(240, 240, 240, 0.5);
  color: #0f0f0f; }

.background_white h1, .background_white h2 {
  color: #52c1b4; }

.background_white a {
  color: #52c1b4; }
  .background_white a:focus, .background_white a:hover {
    color: #8ad5cc; }

.background_white .cta_button {
  background-color: #52c1b4;
  padding: 8px;
  margin-bottom: 25px;
  display: inline-block;
  font-size: 1.5em;
  font-family: 'Georgia';
  transition: color 0.25s, background-color 0.25s; }
  .background_white .cta_button:focus, .background_white .cta_button:hover {
    background-color: #f0f0f0; }
  .background_white .cta_button:focus,
  .background_white .cta_button:hover a {
    color: #52c1b4; }

.cta_button a {
  color: #f0f0f0; }

@keyframes whitepulse {
  0% {
    color: white; }
  50% {
    color: #cacaca; }
  100% {
    color: white; } }

.background_white .multibox_content {
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0);
  transition-delay: 2s;
  max-width: 100%; }

.waypoint_active .background_white .multibox_content {
  text-shadow: 0px 0px 2px rgba(240, 240, 240, 0.5); }

.background_white.tool_tip.tool_tip_home {
  background-color: rgba(240, 240, 240, 0.85);
  color: #0f0f0f; }

.background_white.tool_tip h1 {
  color: #f0f0f0;
  animation: whitepulse 5s infinite; }

.background_white.tool_tip.tool_tip_home h1 {
  color: #f0f0f0;
  animation: initial; }

.background_white.tool_tip:hover h1 {
  color: #0f0f0f;
  animation: initial; }

.background_white.tool_tip:hover {
  background-color: #f0f0f0;
  color: #0f0f0f; }

.overlay_white .section_overlay {
  background-color: #f0f0f0; }

.menu img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 3px solid #0f0f0f; }

.foreground_white {
  color: #f0f0f0; }

.underline_reveal_active {
  border-bottom: 3px solid #0f0f0f; }

.foreground_white a {
  color: white;
  transition: all 0.25s; }
  .foreground_white a:focus, .foreground_white a:hover {
    color: #8ad5cc; }

.border_white {
  border: 3px solid #f0f0f0; }

#bg_pane .bg_stack .red_radial {
  background: radial-gradient(ellipse at center, rgba(212, 95, 75, 0.5) 0%, rgba(189, 63, 47, 0.75) 100%); }

#bg_pane .bg_stack .blue_radial {
  background: radial-gradient(ellipse at top, rgba(78, 198, 184, 0.5) 0%, #074066 100%); }

#bg_pane .bg_stack .yellow_radial {
  background: radial-gradient(ellipse at top, rgba(249, 177, 42, 0.5) 0%, #dd9d25 100%); }

#bg_pane .bg_stack .white_radial {
  background: radial-gradient(ellipse at top, rgba(255, 255, 255, 0.5) 0%, white 100%); }

#bg_backdrop {
  background: radial-gradient(ellipse at center bottom, #084e7d 0%, black 100%);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0; }

.swap_button {
  position: fixed;
  width: 10vw;
  height: 10vw;
  bottom: 0;
  left: 50%;
  background-color: #234789;
  z-index: 5000000; }

.padding {
  padding: 25px; }

.margin {
  margin: 25px; }

.bg_cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.menu_section {
  display: flex;
  justify-content: center;
  padding: 10px 25px; }

.menu_content {
  max-width: 1280px;
  width: 50vw; }

.waypoint_active {
  border: 1px solid red !important; }

/*------------------------------------*\
images

\*------------------------------------*/
.size-medium {
  width: 250px;
  max-width: 90vw; }

@media screen and (max-width: 1024px) {
  .size-medium {
    display: block;
    margin: 0 auto; } }

/*------------------------------------*\
fonts
\*------------------------------------*/
/* global box-sizing */
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

/* html element 62.5% font-size for REM use */
html {
  font-size: 62.5%;
  height: 100%; }

body {
  font-family: 'source_sans_proregular';
  color: #444;
  height: 100%; }

/* clear */
.clear:before,
.clear:after {
  content: ' ';
  display: table; }

.clear:after {
  clear: both; }

.clear {
  *zoom: 1; }

img {
  max-width: 100%;
  vertical-align: bottom; }

img.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-family: 'object-fit: cover;'; }

.background_image img {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.content_item img {
  width: 100%;
  object-fit: cover;
  border: 1px solid white; }

img.contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
  font-family: 'object-fit: contain;'; }

a {
  color: #444;
  text-decoration: none;
  transition: color 0.25s, background 0.25s; }

a:hover {
  color: #444;
  text-decoration: none; }

a:focus {
  outline: 0; }

a:hover,
a:active {
  outline: 0; }

input:focus {
  outline: 0;
  border: 1px solid #04A4CC; }

.bg_cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.bg_contain {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

.menu_section.sticky {
  position: fixed;
  top: 0;
  z-index: 5000;
  width: 100%;
  margin: 0px; }

.header_home_logo_icon {
  width: 0px;
  opacity: 0;
  height: 38px;
  float: left;
  transition: width 0.5s, opacity 0.5s; }

.menu_section.sticky .header_home_logo_icon {
  opacity: 1;
  width: 150px;
  margin-right: 25px; }

iframe {
  max-width: 100%; }

p, li {
  font-family: 'open_sansregular';
  font-size: 18px; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 50px;
  display: inline-block; }

h2::first-letter {
  margin-left: -5px; }

.clearfix {
  clear: both;
  width: 100%; }

.float_right {
  float: right; }

.float_left {
  float: left; }

.orient_left {
  text-align: left; }

.orient_right {
  text-align: right; }

.orient_center {
  text-align: center; }

.column_reverse {
  flex-direction: column-reverse;
  display: flex;
  height: calc(100vh - 250px); }

.menu h3 {
  font-family: 'Georgia';
  font-size: 2em; }

.content_wrapper_image {
  object-fit: cover;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.bg_cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.header_logo {
  width: 250px;
  height: 250px; }

input:focus::-webkit-input-placeholder {
  color: transparent; }

input:focus:-moz-placeholder {
  color: transparent; }

/* FF 4-18 */
input:focus::-moz-placeholder {
  color: transparent; }

/* FF 19+ */
input:focus:-ms-input-placeholder {
  color: transparent; }

/* IE 10+ */
textarea:focus::-webkit-input-placeholder {
  color: transparent; }

textarea:focus:-moz-placeholder {
  color: transparent; }

/* FF 4-18 */
textarea:focus::-moz-placeholder {
  color: transparent; }

/* FF 19+ */
textarea:focus:-ms-input-placeholder {
  color: transparent; }

/* IE 10+ */
/*---- Custom Hovers-----------*/
.content_box.background_blur .background_image img {
  filter: blur(0px);
  transform: scale(1);
  transition: all 1s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
  animation-fill-mode: forwards;
  animation-name: blur_background_animation_reverse;
  animation-duration: 1s; }

.content_box.background_blur:hover .background_image img {
  animation-name: blur_background_animation;
  animation-duration: 2s; }

@keyframes blur_background_animation {
  0% {
    transform: scale(1);
    filter: blur(0px); }
  30% {
    transform: scale(1.08);
    filter: blur(2px); }
  100% {
    transform: scale(1.081);
    filter: blur(2px); } }

@keyframes blur_background_animation_reverse {
  0% {
    transform: scale(1.081);
    filter: blur(2px); }
  30% {
    transform: scale(1.08);
    filter: blur(2px); }
  100% {
    transform: scale(1);
    filter: blur(0px); } }

.content_box.text_border_reveal h2 {
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
  transition: all 1s; }

.content_box.text_border_reveal:hover h2 {
  color: inherit;
  -webkit-text-stroke: 1px white; }

.content_box.text_reveal_right h2 {
  clip-path: inset(0px 100% 0px 0%);
  transition: all 1s;
  padding: 1%; }

.content_box.text_reveal_right:hover h2 {
  clip-path: inset(0px 0px 0px 0%); }

.trans_contrast {
  filter: contrast(150%); }

.trans_contrast picture {
  opacity: 0.75; }

.multibox_overlay {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0; }

.background_image.background_scale {
  transition: transform 1s; }

.content_box:hover .background_image.background_scale {
  transform: scale(1.25); }

.background_vignette .multibox_overlay {
  transition: background 0.5s 0.5s, opacity 0.5s; }

.content_box.background_vignette:hover .multibox_overlay {
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.81) 100%) !important;
  opacity: 1 !important;
  transition: background 0.5s, opacity 0.5s 0.25s; }

.background_overlay_shrink .multibox_overlay {
  transition: height 0.25s; }

.content_box.background_overlay_shrink:hover .multibox_overlay {
  height: 0%; }

/*------------------------------------*\
Waypoints
\*------------------------------------*/
.underline_reveal_active {
  padding: 0vw 1vw;
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 100% 100%, 100% 100%, 100% 90%, 0% 90%);
  transition: all 1s; }

.waypoint_active .underline_reveal_active {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 100%, 0% 100%, 0% 90%, 0% 100%); }

.background_blur_active .background_image img {
  transition: all 1s;
  filter: blur(0px); }

.waypoint_active .background_blur_active .background_image img {
  transition: all 1s;
  filter: blur(2px); }

.focus_border_active {
  clip-path: polygon(100% 0%, 100% 100%, 100% 100%, 0% 100%, 0% 0%, 0% 0%);
  transition: all 1s; }

.waypoint_active .focus_border_active {
  clip-path: polygon(90% 10%, 90% 80%, 80% 90%, 10% 90%, 10% 20%, 20% 10%); }

/*------------------------------------*\
STRUCTURE
\*------------------------------------*/
.content_row {
  flex-direction: row; }

.content_row {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  position: relative;
  flex-direction: column; }

.content_box {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  z-index: 10; }

.content_box, .content_row {
  overflow: hidden;
  position: relative;
  display: flex; }

.content_wrapper {
  color: #0f0f0f;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center; }

.content_item {
  flex-grow: 1;
  border: 1px solid white;
  flex-direction: column;
  justify-content: space-between; }

.box_half {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.content_row.row-right {
  justify-content: flex-end; }

/*************** Attributes ************************/
.min_height_full {
  min-height: calc(100vh - 170px); }

.min_height {
  min-height: 60vh; }

.padding {
  padding: 25px; }

.sub-divide {
  flex-grow: 1; }

.test_content {
  height: 500px; }

.test_content:nth-child(odd) {
  background-color: grey; }

/* header */
header {
  width: 100%;
  max-width: 1200px; }

.header_home {
  min-height: 500px; }

.header_home_logo {
  height: 300px;
  width: 300px;
  float: right;
  margin: 0 25px; }

.header_home .button {
  float: right;
  clear: both;
  margin: 25px;
  margin-right: 85px; }

.header_home_stripes {
  height: 300px;
  width: 300px;
  float: right; }

.blue {
  background-color: blue; }

.left {
  float: left; }

.right {
  float: right; }

/* logo */
/* nav */
.nav ul {
  display: flex;
  justify-content: space-between; }

.nav ul li {
  display: inline-block;
  text-transform: uppercase;
  font-family: 'source_sans_probold'; }

/* sidebar */
/* footer */
/*------------------------------------*\
PAGES
\*------------------------------------*/
/*------------------------------------*\
IMAGES
\*------------------------------------*/
/*------------------------------------*\
TYPOGRAPHY
\*------------------------------------*/
@font-face {
  font-family: 'Font-Name';
  src: url("fonts/font-name.eot");
  src: url("fonts/font-name.eot?#iefix") format("embedded-opentype"), url("fonts/font-name.woff") format("woff"), url("fonts/font-name.ttf") format("truetype"), url("fonts/font-name.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal; }

/*------------------------------------*\
RESPONSIVE
\*------------------------------------*/
@media only screen and (min-width: 1024px) {
  /* Style adjustments for viewports that meet the condition */
  .content_row {
    flex-direction: row; }
  .box_half {
    width: 50%;
    flex-grow: 0; }
  .content_item li {
    max-width: 25vw; } }

/*------------------------------------*\
MISC
\*------------------------------------*/
::selection {
  background: #04A4CC;
  color: #FFF;
  text-shadow: none; }

::-webkit-selection {
  background: #04A4CC;
  color: #FFF;
  text-shadow: none; }

::-moz-selection {
  background: #04A4CC;
  color: #FFF;
  text-shadow: none; }

/*------------------------------------*\
WORDPRESS CORE
\*------------------------------------*/
.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  background: #FFF;
  border: 1px solid #F0F0F0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

.wp-caption .wp-caption-text,
.gallery-caption {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }

.nav ul {
  margin-bottom: 0px;
  padding: 0; }

.nav ul li a {
  padding: 5px 10px;
  display: inline-block;
  font-size: 20px; }

.nav ul li a:hover, .nav ul li a:focus {
  padding: 5px 10px;
  display: inline-block;
  background-color: #ff860e;
  color: #f0f0f0; }

.nav ul li > ul {
  display: none; }

footer {
  width: 100%;
  padding: 25px; }

footer p {
  color: #f0f0f0; }

.tool_tip button {
  border: 1px transparent solid;
  transition: border 0.25s; }

.tool_tip button:hover, .tool_tip button:focus {
  border: 1px white solid; }

/*------------------------------------*\
PRINT
\*------------------------------------*/
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr, img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

@media (max-width: 768px) {
  .nav ul {
    padding: 12px 25px;
    display: inline-block;
    justify-content: initial;
    width: calc(100% - 200px); } }

@media (max-width: 640px) {
  .nav ul li a {
    font-size: 12px; } }

/*# sourceMappingURL=style.css.map */