/*
Theme Name: HTML5 Blank
Theme URI: http://html5blank.com
Description: HTML5 Blank WordPress Theme
Version: 1.4.3
Author: Todd Motto ($toddmotto)
Author URI: http://toddmotto.com
Tags: Blank, HTML5, CSS3

License: MIT
License URI: http://opensource.org/licenses/mit-license.php
*/



@import 'imports.scss';

/*------------------------------------*\
MAIN
\*------------------------------------*/
*{
  transition:all 0.25s;
}



@each $name, $color, $color_secondary, $color_highlight, $color_tertiary in $colors {
  .background_#{$name} {
    background-color: $color;
    color:$color_secondary;
  }

  .background_#{$name}.transparent_85{
    background-color: transparentize($color, 0.15);
    transition:all 1s;
    transition-delay:1s;
  }

  .background_#{$name}.transparent_50{
    background-color: transparentize($color, 1);
    transition:all 1s;
    transition-delay:1s;
	}
	
	.waypoint_active .background_#{$name}.transparent_75{
    background-color: transparentize($color, 0.25);
    color:$color_secondary;
  }

  .waypoint_active .background_#{$name}.transparent_85{
    background-color: transparentize($color, 0.15);
    color:$color_secondary;
  }

  .waypoint_active .background_#{$name}.transparent_50{
    background-color: transparentize($color, 0.50);
    color:$color_secondary;
  }

  .background_#{$name} h1, .background_#{$name} h2{
    color:$color_highlight;
  }

  .background_#{$name} a {
    color: $color_highlight;
    &:focus,
    &:hover {
      color: lighten($color_highlight,15%);
    }
  }
  .background_#{$name} .cta_button{
    background-color: $color_highlight;
    padding:8px;
    margin-bottom:25px;
    display:inline-block;
    font-size:1.5em;
    font-family: 'Georgia';
    transition:color 0.25s, background-color 0.25s;
    &:focus,
    &:hover {
      background-color: $color;
    }
    &:focus,
    &:hover a{
      color: $color_highlight;
    }
  }
  .cta_button a{
    color: $color;
  }

  @keyframes #{$name}pulse{
    0%{
      color: lighten($color,15%);
    }
    50%{
      color: darken($color,15%);
    }
    100%{
      color: lighten($color,15%);
    }
  }

  .background_#{$name} .multibox_content{
    text-shadow:0px 0px 2px transparentize(transparent, 0.50);
		transition-delay:2s;
		max-width:100%;
  }

  .waypoint_active .background_#{$name} .multibox_content{
    text-shadow:0px 0px 2px transparentize($color, 0.50);
  }

  .background_#{$name}.tool_tip.tool_tip_home{
    background-color: transparentize($color, 0.15);
    color:$color_secondary;
  }

  .background_#{$name}.tool_tip h1{
    color:$color;
    animation: #{$name}pulse 5s infinite;
  }

  .background_#{$name}.tool_tip.tool_tip_home h1{
    color:$color;
    animation: initial;
  }

  .background_#{$name}.tool_tip:hover h1{
    color:$color_secondary;
    animation: initial;
  }

  .background_#{$name}.tool_tip:hover{
    background-color: $color;
    color:$color_secondary;
  }

  .overlay_#{$name} .section_overlay{
    background-color:$color;
  }
  .menu img{
    object-fit:cover;
    height:200px;
    width:100%;
    border: 3px solid $color_secondary;
  }

  .foreground_#{$name} {
		color:$color;
  }

  .underline_reveal_active{
    border-bottom:3px solid $color_secondary;
  }

  .foreground_#{$name} a {
    color: lighten($color,15%);
    transition:all 0.25s;
    &:focus,
    &:hover {
      color: lighten($color_highlight,15%);
    }
  }

  .border_#{$name}{
    border:3px solid $color;
  }

}

#bg_pane .bg_stack .red_radial{
  background:radial-gradient(ellipse at center, rgba(212, 95, 75, 0.5) 0%,rgba(189, 63, 47, 0.75) 100%);
  
}

#bg_pane .bg_stack .blue_radial{
  background:radial-gradient(ellipse at top, rgba(78, 198, 184, 0.5) 0%,rgba(7, 64, 102, 1) 100%);
  
}

#bg_pane .bg_stack .yellow_radial{
  background:radial-gradient(ellipse at top, rgba(249, 177, 42, 0.5) 0%,rgba(221, 157, 37, 1) 100%);
}

#bg_pane .bg_stack .white_radial{
  background:radial-gradient(ellipse at top, rgba(255, 255, 255, 0.5) 0%,rgb(255, 255, 255) 100%);
}




#bg_backdrop{
  background: radial-gradient(ellipse at center bottom, $dark_blue 0%, darken($dark_blue, 30%) 100%);
  width:100%;
  height:100%;
  position:fixed;
  z-index:-1;
  top:0;
  left:0;
}

.swap_button{
  position:fixed;
  width:10vw;
  height:10vw;
  bottom:0;
  left:50%;
  background-color:#234789;
  z-index:5000000;
}

.padding{
  padding:25px;

}

.margin{
  margin:25px;
}

.bg_cover{
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.menu_section{
  display:flex;
  justify-content:center;
  padding:10px 25px;
}

.menu_content{
max-width:1280px;
width:50vw;
}

.waypoint_active{
  border:1px solid red !important;
}

/*------------------------------------*\
images

\*------------------------------------*/

.size-medium{
  width:250px;
  max-width:90vw;
}

@media screen and (max-width: 1024px) {
  .size-medium{
    display: block;
    margin:0 auto;
  }
}


/*------------------------------------*\
fonts
\*------------------------------------*/




/* global box-sizing */
*,
*:after,
*:before {
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  -webkit-font-smoothing:antialiased;
  font-smoothing:antialiased;
  text-rendering:optimizeLegibility;

}
/* html element 62.5% font-size for REM use */
html {
  font-size:62.5%;
  height:100%;
}
body {
  font-family: 'source_sans_proregular';
  color:#444;
  height:100%;
}
/* clear */
.clear:before,
.clear:after {
  content:' ';
  display:table;
}

.clear:after {
  clear:both;
}
.clear {
  *zoom:1;
}
img {
  max-width:100%;
  vertical-align:bottom;
}

img.cover{
  width:100%;
  height:100%;
  object-fit:cover;
  font-family: 'object-fit: cover;'
}

.background_image img{
  height:100%;
  width:100%;
  object-fit:cover;
}

.content_item img{
  width:100%;
  object-fit:cover;
  border:1px solid white;
}





img.contain{
  width:100%;
  height:100%;
  object-fit:contain;
  font-family: 'object-fit: contain;'
}

a {
  color:#444;
  text-decoration:none;
  transition:color $transition_time, background $transition_time;
}
a:hover {
  color:#444;
  text-decoration:none;
}
a:focus {
  outline:0;
}
a:hover,
a:active {
  outline:0;
}
input:focus {
  outline:0;
  border:1px solid #04A4CC;
}

.bg_cover{
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}

.bg_contain{
  background-size:contain;
  background-position:center;
  background-repeat:no-repeat;
}

.menu_section.sticky{
  position:fixed;
  top:0;
  z-index:5000;
  width:100%;
  margin:0px;
}

.header_home_logo_icon{
  width:0px;
  opacity:0;
  height:38px;
  float:left;
  transition:width 0.5s, opacity 0.5s;
}

.menu_section.sticky .header_home_logo_icon{
  opacity:1;
  width:150px;
  margin-right:25px;
}

iframe{
  max-width:100%;
}

p, li{
  font-family: 'open_sansregular';
  font-size:18px;
}

h1{
  font-size:3em;
}
h2{
  font-size:50px;
  display:inline-block;
}
h2::first-letter{
  margin-left:-5px;
}
.clearfix{
  clear:both;
  width:100%;
}
.float_right{
  float:right;
}
.float_left{
  float:left;
}

.orient_left{
  text-align:left;
}
.orient_right{
  text-align:right;
}
.orient_center{
  text-align:center;
}
.column_reverse{
  flex-direction: column-reverse;
  display:flex;
  height: calc(100vh - 250px);
}
.menu h3{
  font-family: 'Georgia';
  font-size:2em;
}

.content_wrapper_image{
  object-fit:cover;
  z-index:-1;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
}

.bg_cover{
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}
.header_logo{
  width:250px;
  height:250px;
}





input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
textarea:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */


/*---- Custom Hovers-----------*/

.content_box.background_blur .background_image img{
  filter:blur(0px);
  transform:scale(1.00);
  transition:all 1s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
  animation-fill-mode: forwards;
  animation-name:blur_background_animation_reverse;
  animation-duration: 1s;
}

.content_box.background_blur:hover .background_image img{
  animation-name: blur_background_animation;
  animation-duration: 2s;
}

@keyframes blur_background_animation{
  0% {
    transform:scale(1.00);
    filter:blur(0px);
  }
  30% {
    transform:scale(1.08) ;
    filter:blur(2px);
  }
  100% {
    transform:scale(1.081);
    filter:blur(2px);
  }
}

@keyframes blur_background_animation_reverse{
  0% {
    transform:scale(1.081);
    filter:blur(2px);
  }
  30% {
    transform:scale(1.08) ;
    filter:blur(2px);
  }
  100% {
    
    transform:scale(1.00);
    filter:blur(0px);
  }
}

.content_box.text_border_reveal h2{
 color:rgba(255, 255, 255, 0);
-webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
transition:all 1s;
} 

.content_box.text_border_reveal:hover h2{
  color:inherit;
 -webkit-text-stroke: 1px white;
 } 


.content_box.text_reveal_right h2{
  clip-path: inset(0px 100% 0px 0%);
  transition:all 1s;
  padding:1%;
}

.content_box.text_reveal_right:hover h2{
  clip-path: inset(0px 0px 0px 0%);

}


.trans_contrast{
  filter: contrast(150%);
}

.trans_contrast picture{
  opacity: 0.75;
}

.multibox_overlay{
  width:100%;
  height:100%;
  z-index:-1;
  position:absolute;
  top:0;
  left:0;
}


.background_image.background_scale{
  transition:transform 1s;
  }
  
  .content_box:hover .background_image.background_scale{
  transform:scale(1.25);
  
  }
  
  .background_vignette .multibox_overlay{
    transition:background 0.5s 0.5s, opacity 0.5s;
  }
  
  .content_box.background_vignette:hover .multibox_overlay{
  background: radial-gradient(ellipse at center, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 50%,rgba(0,0,0,0.81) 100%) !important;
  opacity:1 !important;
  transition:background 0.5s, opacity 0.5s 0.25s;
  }
  
  .background_overlay_shrink .multibox_overlay{
  transition:height 0.25s;
  }
  
  .content_box.background_overlay_shrink:hover .multibox_overlay{
  height:0%;
  }
  
  .background_overlay_sticky{
  
  }


/*------------------------------------*\
Waypoints
\*------------------------------------*/

.underline_reveal_active{
  padding:0vw 1vw;
  clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 100% 100%, 100% 100%, 100% 90%, 0% 90%);
  transition:all 1s;
}

.waypoint_active .underline_reveal_active{
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 100%, 0% 100%, 0% 90%, 0% 100%);
}

.background_blur_active .background_image img {
  transition:all 1s;
  filter:blur(0px);
}

.waypoint_active .background_blur_active .background_image img{
  transition:all 1s;
  filter:blur(2px);
}


.focus_border_active{
  clip-path: polygon(100% 0%, 100% 100%, 100% 100%, 0% 100%, 0% 0%, 0% 0%);
  transition:all 1s;
}

.waypoint_active .focus_border_active{
  clip-path: polygon(90% 10%, 90% 80%, 80% 90%, 10% 90%, 10% 20%, 20% 10%);
}

/*------------------------------------*\
STRUCTURE
\*------------------------------------*/

.content_row {
  flex-direction: row;
}
.content_row {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  position: relative;
  flex-direction: column;
}

.content_box {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  z-index:10;
}

.content_box, .content_row {
  overflow: hidden;
  position: relative;
  display: flex;
}


.content_wrapper{
  color:$black;
  display:flex;
  min-height:100vh;
  flex-direction:column;
  align-items:center;
}



.content_item{
  flex-grow:1;
  border:1px solid white;
  flex-direction:column;
  justify-content: space-between;
}

.box_half{
  flex-grow:1;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
}

.content_row.row-right{
  justify-content: flex-end;
}

/*************** Attributes ************************/

.min_height_full {
  min-height: calc(100vh - 170px);
}

.min_height {
  min-height: 60vh;
}

.padding {
  padding: 25px;
}


.sub-divide{


  flex-grow:1;
}





.test_content{
  height:500px;

}

.test_content:nth-child(odd){
  background-color:grey;
}

/* header */
header {
  width:100%;
  max-width:1200px;

}

.header_home{
  min-height:500px;
}

.header_home_logo{
  height:300px;
  width:300px;
  float:right;
  margin:0 $padding_general;
}

.header_home .button{
  float:right;
  clear:both;
  margin:$padding_general;
  margin-right:85px;
}

.header_home_stripes{
  height:300px;
  width:300px;
  float:right;
}

.blue{
  background-color:blue;
}

.left{

  float:left;
}

.right{
  float:right;
}

/* logo */
.logo {

}
.logo-img {

}
/* nav */
.nav ul{
  display:flex;
  justify-content:space-between;
}

.nav ul li{
  display:inline-block;
  text-transform:uppercase;
  font-family: 'source_sans_probold';
}
/* sidebar */
.sidebar {

}
/* footer */
.footer {

}

/*------------------------------------*\
PAGES
\*------------------------------------*/




/*------------------------------------*\
IMAGES
\*------------------------------------*/



/*------------------------------------*\
TYPOGRAPHY
\*------------------------------------*/

@font-face {
  font-family:'Font-Name';
  src:url('fonts/font-name.eot');
  src:url('fonts/font-name.eot?#iefix') format('embedded-opentype'),
  url('fonts/font-name.woff') format('woff'),
  url('fonts/font-name.ttf') format('truetype'),
  url('fonts/font-name.svg#font-name') format('svg');
  font-weight:normal;
  font-style:normal;
}

/*------------------------------------*\
RESPONSIVE
\*------------------------------------*/

@media only screen and (min-width: 1024px) {
  /* Style adjustments for viewports that meet the condition */
  .content_row{
    flex-direction:row;
  }

  .box_half{
    width:50%;
    flex-grow:0;
  }

  .menu_section.sticky {


  }



  .content_item li{
    max-width:25vw;
  }


}

/*------------------------------------*\
MISC
\*------------------------------------*/

::selection {
  background:#04A4CC;
  color:#FFF;
  text-shadow:none;
}
::-webkit-selection {
  background:#04A4CC;
  color:#FFF;
  text-shadow:none;
}
::-moz-selection {
  background:#04A4CC;
  color:#FFF;
  text-shadow:none;
}

/*------------------------------------*\
WORDPRESS CORE
\*------------------------------------*/

.alignnone {
  margin:5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
  display:block;
  margin:5px auto 5px auto;
}
.alignright {
  float:right;
  margin:5px 0 20px 20px;
}
.alignleft {
  float:left;
  margin:5px 20px 20px 0;
}
a img.alignright {
  float:right;
  margin:5px 0 20px 20px;
}
a img.alignnone {
  margin:5px 20px 20px 0;
}
a img.alignleft {
  float:left;
  margin:5px 20px 20px 0;
}
a img.aligncenter {
  display:block;
  margin-left:auto;
  margin-right:auto;
}
.wp-caption {
  background:#FFF;
  border:1px solid #F0F0F0;
  max-width:96%;
  padding:5px 3px 10px;
  text-align:center;
}
.wp-caption.alignnone {
  margin:5px 20px 20px 0;
}
.wp-caption.alignleft {
  margin:5px 20px 20px 0;
}
.wp-caption.alignright {
  margin:5px 0 20px 20px;
}
.wp-caption img {
  border:0 none;
  height:auto;
  margin:0;
  max-width:98.5%;
  padding:0;
  width:auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
  font-size:11px;
  line-height:17px;
  margin:0;
  padding:0 4px 5px;
}
.sticky {

}
.bypostauthor {

}

.nav ul{
  margin-bottom:0px;
  padding:0;
}

.nav ul li a{
  padding:5px 10px;
  display:inline-block;
  font-size:20px;
}

.nav ul li a:hover, .nav ul li a:focus{
  padding:5px 10px;
  display:inline-block;
  background-color:$orange;
  color:$white;
}

.nav ul li>ul{
  display:none;
}

footer{
  width:100%;
  padding:25px;
}

footer p{
  color:$white;
}

.tool_tip button{
	border:1px transparent solid;
	transition:border 0.25s;
}

.tool_tip button:hover, .tool_tip button:focus{
	border:1px white solid;
}


/*------------------------------------*\
PRINT
\*------------------------------------*/

@media print {
  * {
    background:transparent !important;
    color:#000 !important;
    box-shadow:none !important;
    text-shadow:none !important;
  }

  a,
  a:visited {
    text-decoration:underline;
  }
  a[href]:after {
    content:" (" attr(href) ")";
  }
  abbr[title]:after {
    content:" (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content:"";
  }
  pre,blockquote {
    border:1px solid #999;
    page-break-inside:avoid;
  }
  thead {
    display:table-header-group;
  }
  tr,img {
    page-break-inside:avoid;
  }
  img {
    max-width:100% !important;
  }
  @page {
    margin:0.5cm;
  }
  p,
  h2,
  h3 {
    orphans:3;
    widows:3;
  }
  h2,
  h3 {
    page-break-after:avoid;
  }


}

@media (max-width: 1280px) {
}
@media (max-width: 768px) {
  .nav ul {
    padding:12px 25px;
    display: inline-block;
    justify-content: initial;
    width:calc(100% - 200px);
  }
}
@media (max-width: 640px) {
  .nav ul li a {
    font-size: 12px;
  }
}
